[2015-10-05 17:08] elf-pavlik opened #1 "Inventory (and sub inventories)"
From conversation about what does and what doesn't involve an [exchange](https://github.com/valueflows/exchange)

[2015-10-06 12:29] ahdinosaur opened #2 "Faceted Classification"
[from the valnet core model](https://github.com/valnet/valuenetwork/blob/ba34ca7f6885a5371c02e837952e9ce12a80258b/docs/core_model.txt#L382-L402)

[code]

[2015-10-06 12:37] bhaugen commented on #2
This will be necessary for Offers and Wants.

[2015-10-06 12:52] ahdinosaur opened #3 "Measurements: Quantities, Dimensions, Units"
[as `valnet` shows](https://github.com/valnet/valuenetwork/blob/master/docs/core_model.txt), we need a way to measure quantities, units, and [kinds](https://github.com/valueflows/resource/issues/2) of things.

previously i dove into [`qudt`](http://www.qudt.org/) and wrote some [json-ld schemas](https://www.npmjs.com/package/schema-jsonld-context) ([Quantity](https://github.com/valueflows/valueflo

[2015-10-08 14:28] elf-pavlik commented on #3
another relevant vocab: https://iotdb.org/pub/iot-unit.html

[2015-10-08 14:31] elf-pavlik commented on #2
relevant conversation: [GoodRelations, Product|Service, Offer|Want, broader|narrower, facets and tags, etc](https://github.com/valueflows/valueflows/issues/40)

[2015-10-09 06:54] ahdinosaur opened #4 "Resource Type behaviors"
harvested from https://github.com/valueflows/valueflows/issues/10.

[2015-10-09 06:59] ahdinosaur commented on #4
while subclassing was mentioned before, i'm wondering if [traits](https://en.wikipedia.org/wiki/Trait_%28computer_programming%29) would be a more appropriate pattern. each trait would describe the behavior, and each resource type could have many such traits. may or may not be related to #2, idk.

[2015-10-09 12:22] bhaugen commented on #4
Traits are an interesting idea. They seem also related to faceted classification. I first ran into them in Smalltalk, which was the language of the original version of what has now evolved into NRP and now wants to evolve into a web of LOD. But I never actually used them, just heard other Smalltalk programmers talk about them.

[2015-10-13 09:50] bhaugen opened #5 "Explaining the difference between ResourceType and Resource"
Excerpts from a Gitter chat:

elf-pavlik 13:27
Q: does it make sense to think in your terminology of ResourceType as ~ class definition and Resource as an instance of this class? - looking at diagrams again https://github.com/valueflows/valueflows#process-oriented-flow
elf-pavlik 13:33
so Resource on reality level would actually mean a particular one /resources/243242
back on resource pattern whic

[2015-10-13 10:04] ahdinosaur commented on #5
relevant: [SKOS#semantic-relations](http://www.w3.org/TR/skos-reference/#semantic-relations) (https://github.com/valueflows/valueflows/issues/37)

[2015-10-13 10:11] bhaugen commented on #5
@ahdinosaur - yes indeed. Lots of broader-narrower relations.
* fruit
    * apple
        * macintosh apple
             * Fruitland Farms macintosh apple

[2015-10-13 15:29] elf-pavlik commented on #5
* apple
    * macintosh apple

That would fit common reference like http://aims.fao.org/agrovoc (SKOS based) eg. http://aims.fao.org/skosmos/agrovoc/en/page/c_541

This Fruitland Farms would define independently as more specialized/specific/narrow type of broader macintosh apple

[2015-10-13 15:51] bhaugen commented on #5
@elf-pavlik - agree about Fruitland Farms

[2015-10-13 16:05] fosterlynn commented on #5
.....and then there's macintosh apple case, macintosh apple 5lb bag, ......  macintosh apple grade A, macintosh apple grade B....

....getting into some multiple inheritance or other categorization schemes (still in resource type land)....

[2015-10-13 17:01] elf-pavlik commented on #5
@fosterlynn at certain level constructs like http://schema.org/TypeAndQuantityNode can help! Looking at it from opposite direction, when we tracked our food *consumption* in http://matera.unmonastery.org we cared a lot about recording how much apples or potatos we eat and less that they came packaged in 20kg boxes or 30kg bags...

Maybe we start adding things to /examples and look at them case by

[2015-10-16 12:00] elf-pavlik opened #6 "add few more examples of resources to start working on relationships"
In similar [selfdogfood](http://indiewebcamp.com/selfdogfood) spirit as https://github.com/valueflows/agent/issues/29
### CreativeWork
#### Spec
- [x] ValueFlows Vocab - [valueflows.jsonld](https://github.com/valueflows/resource/blob/master/examples/valueflows.jsonld)
#### SourceCode
- [ ] https://github.com/elf-pavlik/webprofiled
- [ ] https://github.com/openfoodfoundation/openfoodnetwork
- [ ] h

[2015-10-16 12:15] bhaugen commented on #6
@elf-pavlik - please explain "Resource - sub -> Resource"? (I'm happy to keep them for later, but I don't know what all you intend or would include in that relationship. Like, for example____?)

Re ASAP: are you proposing to make this a higher priority than finishing the agent vocab round trip?

[2015-10-16 13:42] elf-pavlik commented on #6
I see need that we pick general pattern for expressing any kind of relationships, very likely building around [rdf:Property, Reification, QualifiedRelations and Nary-Relations](https://github.com/valueflows/valueflows/issues/63). Once we agree on our general approach, we can start looking where relations(hips) between different kind of entities need further specializations eg. Agent -> Agent, Agen

[2015-10-16 13:51] bhaugen commented on #6
I agree that picking the pattern is ASAP.

Understand now what you mean by sub->resource. No problem deferring.

[2015-10-16 15:31] elf-pavlik commented on #4
Do you see modeling of Input/Output somehow similar to Intent? https://github.com/valueflows/valueflows/issues/62

[2015-10-16 17:04] bhaugen commented on #4
@elf-pavlik - similar but at a previous stage of evolution. Here's a fairly typical outline of the evolution:
![funnel](https://cloud.githubusercontent.com/assets/117439/10547972/3a1e7d86-73fd-11e5-9254-2a5e3cfa8473.png)

Offer and Want are on the top Propose Idea row. Input and Output are on or close to the Commit or Fulfill row, depending on whether they have happened or not.

For example, the M

[2015-10-16 18:21] elf-pavlik commented on #4
Thanks @bhaugen for sharing your insights!

Do you think that we could find certain degree of isomorphism between
* Intent - Port
 * Want - Input
 * Offer - Output

And see them as Qualified Relations?

Similar as with [roles and verbs](https://github.com/valueflows/valueflows/issues/52#issuecomment-148673339) currently it seems to me that

*direct:* Agent - wants -> Resource
*qualified:* Agent <-

[2015-10-17 20:50] bhaugen commented on #4
@elf-pavlik - glad you are taking the evening off :relieved:. I will comment on this tomorrow some time, after I study your recent diagrams and examples.

[2015-10-18 15:43] elf-pavlik opened #9 "examples use two different *maintainer* properties"
- https://github.com/valueflows/resource/blob/master/examples/valueflows.jsonld#L14
- https://github.com/valueflows/resource/blob/master/examples/holodex.jsonld#L16

While example [package.json in npm](https://docs.npmjs.com/files/package.json) defines properties like _auhor_ or _dependencies_ used in thousands of packages. We already among 4 of us have two different properties. IMO current situat

[2015-10-18 23:12] ahdinosaur commented on #9
this was intentional, which led to a long Gitter chat:

elf-pavlik: BTW now we have two unrelated ways of stating maintainer relationship
ahdinosaur: yay
elf-pavlik: https://github.com/valueflows/resource/blob/master/examples/valueflows.jsonld#L14
no search or filtering in this situation
each system will consider it as two unrelated relationships
ahdinosaur: @elf-pavlik well we could sameAs or rel

[2015-10-20 12:09] elf-pavlik commented on #9
@ahdinosaur I would propose to capture you use case in example which may cause less confusion among people who would like to simply use common way to for example relate npm package to person maintaining it. Of course we can try with two different properties which will link you as maintainer to holodex software and valueflows vocab. Actually I would really like to see how holodex will handle it, al

[2015-10-20 14:53] elf-pavlik opened #10 "Pools of physical resources"
In many cases group of resources co-create a particular pool. While sometimes we have intent to offer/want a particular resources, sometimes we just care about any one out of particular pool. Some examples:
- city bikes - http://velib.paris
- cars - https://www.car2go.com
- petrol - http://www.shell.com/
- electricity - http://www.enercoop.fr/
- food - https://en.wikipedia.org/wiki/Langar_(Sikhism

[2015-10-20 15:22] bhaugen commented on #10
Yes!

[2015-11-15 14:07] bhaugen opened #11 "When does a Resource become a new Resource"
Or, what is the definition of "the same resource".
- For example, if a resource is transferred to a new owner, is it the same resource?
  - If it has a serial number or lot ID, it's the same resource with a new owner.
    - But what if the lot is split and you become the new owner of part of the lot and somebody else becomes the new owner of the other part of the lot. Are they the same resource?

[2015-11-15 22:53] fosterlynn commented on #11
Very interesting set of questions.  Thinking about some examples because in re-modeling exchange, I'm thinking a Transfer is 2 events, a give and a take (receive), instead of one.  Split lots are confirming that for me.

I think the split lot example creates a new resource.  If the coop has a bin of 50 lbs of whole wheat flour, that is one resource.  If someone buys 5 lbs of that flour, the 5 lbs

[2016-05-02 20:58] elf-pavlik opened #12 "MonetaryCurrency a 'transfer only' resource?"
This issue relates a lot to our recent Transfer definition.

Monetary currencies seem to have certain peculiarity. One can NOT consume them, or NOT even use them, all one can do with it - keep transfering around the rights to a certain share of it.

How about In definitions of more specific types of resources (physical or virtual), we can start marking which types of rights apply to various generi

[2016-05-02 21:12] elf-pavlik commented on #12
based on @ahdinosaur definitions in https://github.com/valueflows/valueflows/issues/103

One can only Transfer (rights to) and Transport (between virtual stocks) monetary currency. Transform does NOT seem to apply to this sub class of virtual resources.

[2016-05-02 21:26] elf-pavlik commented on #12
Processes also don't involve monetary currencies, except if we define virtual transport of them as a process. They only seem relevant in *Conversation for Action* as tool to influence decision of other parties.

[2016-05-02 23:29] fosterlynn commented on #12
Warning: thinking cap not on.

In our code we did end up needing a set of behaviors for resource types, which could become subclasses.  So far, "type of work" and "virtual account".  Toying with something for crypto currency, but not sure yet.  Then we have some configurations on Transfer Type including "is currency", meaning any of the things you are talking about.

So I think we will need someth

[2016-05-02 23:49] gcassel commented on #12
OMG, I totally have to repurpose that line for *many* situations.  :)

I too think we'll need something for what you are talking about Elf and am not ready to think about it right now.  (But maybe any hour or day now.)

[2016-05-03 04:26] ahdinosaur commented on #12
in a way, monetary currencies are "immutable": they cannot change, only be passed around. :)

[2016-05-03 21:20] gcassel commented on #12
As far as I can currently tell, you guys are correct about currencies not being directly transformable.  However, that could potentially make readers uneasy, as if issued currencies are immortal (lol) and the supply of them will inevitably increase over time.   I want to take some space to roughly address that.

Even when we're dealing with a centrally issued fiat currency, units can be (intention

[2016-05-03 22:35] elf-pavlik opened #13 "identifying a resource"
Currently I can think of two ways of identifying a resource in VF environment:

1) IRI ([direct identification](https://www.w3.org/TR/webarch/#id-resources)) https://tools.ietf.org/html/rfc3987
2) Blank node ([indirect identification])(https://www.w3.org/TR/webarch/#indirect-identification)) https://www.w3.org/TR/rdf11-concepts/#section-blank-nodes

In first case a resource has it's own distinct i

[2016-05-03 23:05] bshambaugh commented on #13
What is the document that we are talking about in the @id? Does the first
case exclude the second?

-Brent Shambaugh

Website: bshambaugh.org

On Tue, May 3, 2016 at 5:35 PM, elf Pavlik <notifications@github.com> wrote:

[2016-05-03 23:27] elf-pavlik commented on #13
I updated the first case to add `"@type": "vf:Resource"`. I just try to emphasise difference between direct and indirect identification explained in https://www.w3.org/TR/webarch/#indirect-identification

In some cases resource we want to identify doesn't have distinct IRI, in such cases we can use indirect identification by describing it as part of a resource which does have IRI, in example above

[2016-05-03 23:58] bshambaugh commented on #13
Okay, so basically in the second

_bn vf:inStock

did:b8ecb4b1-727e-4c5b-a6e2-cd10dd726840

"@id": "did:b8ecb4b1-727e-4c5b-a6e2-cd10dd726840"

* is in stock*and ..

*did:b8ecb4b1-727e-4c5b-a6e2-cd10dd726840 vf:location *
*"https://osm.org/node/23423421114 <https://osm.org/node/23423421114>"*

*In the first, *
"did:be9f6712-9bda-4f68-a21e-c05e3d415cbe"  is part of the WebDHT

per the http://opencre

[2016-05-04 02:41] ahdinosaur commented on #3
use cases:

- 50.4 kg of flour
- 30 crates of 50 kg apples per crate
- 10 kWhr of electricity
- 12 L of water
- $100 per hour

[2016-05-04 03:25] ahdinosaur commented on #3
using [QUDT](https://collab.firelab.org/software/projects/39/wiki/QUDT)

50.4 kg of flour

[code]

[2016-05-04 03:45] ahdinosaur commented on #3
30 crates of 50 kg apples per crate

``yml
'@context':
  owl: http://www.w3.org/2002/07/owl#
  rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
  rdfs: http://www.w3.org/2000/01/rdf-schema#
  qudt: http://qudt.org/1.1/schema/qudt#
  unit: http://qudt.org/1.1/schema/unit#
  vf: https://w3id.org/valueflows/
  ex: https://example.org/
'@type':
  '@id': ex:resourceTypes/crate-of-apples
  'rdfs:subclas

[2016-05-04 08:02] bhaugen commented on #3
Units of measure is one of the several concepts that I think we should delegate to some other vocab, and not try to define it ourselves.

Location is probably another. Likewise time.

[2016-05-04 08:37] bhaugen commented on #13
The discussion above so far focuses mostly on the technicalities of resource identification. While those are important, so are the semantics of resource identification, which depend on the resource type.

Resources often have both a tracking identifier and a stock-keeping identifier. The tracking identifier accompanies with the resource wherever it goes. (Where "it" will also depend on whether it

[2016-05-04 15:38] elf-pavlik commented on #13
Do you see need for other identification mechanism than two I proposed
1) direct - IRI
2) indirect - clearly defined part of a stock which does have IRI

Batch of stew should have IRI, later it goes as input to packaging process which outputs those many containers, preferably each of them should have IRI (eg. with QR code label on each container)

that computer should have IRI (direct) and `@type`

[2016-05-04 15:43] bhaugen commented on #13
Ok with me. Can Molly have something on her collar?

[2016-05-04 16:16] elf-pavlik commented on #13
* collar
* earring
* chip under the skin

Or since the person who takes care of her, can manage the mapping to IRI. In case where something goes 'wrong' and no one can recognise Molly's identity, she would get new name e.g Tina and new IRI. Then at some point if someone realizes that Molly == Tina [owl:sameAs](https://www.w3.org/TR/owl2-primer/#Equality_and_Inequality_of_Individuals) can help with

[2016-05-04 16:24] elf-pavlik commented on #3
@ahdinosaur AWESOME thanks a lot!

do you use valid CSON or YAML? it doesn't validate in http://www.coffeelint.org/

[2016-05-04 16:32] bhaugen commented on #13
Molly says "b-a-a-a-a-a-ah"

[2016-05-04 18:30] fosterlynn commented on #3
@ahdinosaur awesome indeed!

[2016-05-04 19:31] elf-pavlik commented on #13
Molly seems more and more `"@type": "vf:Agent"` than `"@type": "vf:Resource"` :wink:

[2016-05-04 20:48] fosterlynn commented on #13
Maybe Molly would like to join our project....

[2016-05-04 20:58] gcassel commented on #3
I don't think we can (or should) try to control the development of all VF-related vocabs, but perhaps it'd be good to define desired modules/components/ plug-ins, and to link any viable efforts which attempt to satisfy the interface specifications?

[2016-05-04 21:03] bhaugen commented on #3
Sorry I wasn't clear. That's what I meant: use something like qudt for units, but specify one. Stick to a minimal core ourselves.

Better?

[2016-05-04 21:39] ahdinosaur commented on #3
@elf-pavlik this is YAML, i find it easier for sharing ideas than JSON.

[2016-05-04 21:59] ahdinosaur commented on #11
from @gcassel in https://github.com/valueflows/valueflows/issues/103#issuecomment-217014167

2 Na + Cl<sup>2</sup>(g)  > 2 NaCl

[2016-05-04 22:14] gcassel commented on #11
^ indebted to your mapping, navigation and link skills here; thanks @ahdinosaur .

In the context of this topic, I guess I'd say that a resource (or group of resources) becomes a "new" resource through fusion or fission of other resources which can be identified.

Creative work/ informational resources may seem almost to spring out of nowhere.  For instance, someone shares a new idea, or writes a

[2016-05-04 22:22] elf-pavlik opened #14 "existing resource vs. planned resource"
During [chat on gitter](https://gitter.im/valueflows?at=572a410e12cceadb7b1aa6a9) we opened topic of distinguishing already existing resources from planned resources.
- when we transfer rights, we only do it for resources which already exist
- when we make commitments, we do it for resources which we plan but don't exist yet

IMO assigning IRI to planned resource can come very handy [for direct id

[2016-05-04 22:24] bhaugen commented on #11
My view of this is to track what is useful to track, which is really really context dependent.

For example, we got some networks that want to track maybe a thousand times more than other networks. I could name names, but won't. Sometimes depends on the administrative experience of the people. Like, did you catch minimalism yet, or not?

[2016-05-04 22:25] elf-pavlik opened #15 "Product vs. Service"
from #14

Of course use cases should drive our further work, for services we already have [Dental Care](https://github.com/valueflows/valueflows/blob/master/use-cases/dental-care.md) and [many Transportation use cases](https://github.com/valueflows/valueflows/blob/master/use-cases/dental-care.md)

Service seen as Resource seems to fit an output of a Process - [Transportation as Service/Resource or

[2016-05-04 22:27] bhaugen commented on #14
We actually did this with food networks. They sell the crops in the field before they are harvested.

Or CSAs that get their supporting families to subscribe before planting to finance the crop, and then they get food baskets when the crops come in.

[2016-05-04 22:28] bhaugen commented on #14
P.S. in the food network case, the crops in the field are actual rather than potential resources.It would be interesting to analyze the CSA case from a VF perspective. I haven't done it.

[2016-05-04 22:28] elf-pavlik commented on #14
By 'sell' do you mean make commitments or transfer rights as part of exchange?

[2016-05-04 22:29] bhaugen commented on #14
Make commitments.

[2016-05-04 22:44] gcassel commented on #11
I agree entirely to simply track what is useful to track in a given context.   However, any time a person or group pretends that a resource has magically appeared in a way which can't be connected to previous resources and agents, I believe they're at imminent risk of engaging in unsustainable processes.

There are shortcuts and heuristics to use at any level of analysis, which are fine as long as

[2016-05-05 19:32] fosterlynn commented on #14
You can make commitments for resources which do exist.  Like committing almost any inflow to a process or transfer.  Outflows not so much.  Like a piece of equipment to use in a process, say.

[2016-05-05 19:33] fosterlynn commented on #15
This makes sense to me.

[2016-05-06 02:46] ahdinosaur commented on #4
another list in the wild at https://github.com/elf-pavlik/currency/issues/3#issuecomment-217310310:

also related to the recent conversation about [monetary currencies being resource types with pecularities](https://github.com/valueflows/valueflows/issues/117)

[2016-05-06 07:14] bhaugen commented on #4
@ahdinosaur thank you for your recent curation efforts. They help.

[2016-05-07 14:31] elf-pavlik commented on #15
from gitter chat

we can grow apples just in case (also hard to stop trees from doing it), store them and than find someone who wants it
we can not make massages and than allow people to take some of them

[2016-05-07 20:51] gcassel commented on #15
We can *transfer* rights to products/goods,   but we can only *perform* (or *provide*) services.   Service is act, work, labor.

I'm not well-oriented here now, but I think that the term transfer simply doesn't apply to services.... but it's tricky, because services are *very often* part of an *exchange*.

I think Exchange will need to be defined in a way which very simply and clearly includes tra

[2016-05-07 20:58] bhaugen commented on #15
This is all about what I have called Event Types and Lynn wants to rename. It is about the behavior of type of value flow. Services can be part of an exchange but have a different behavior. It's all good. We just need to define the differences.

[2016-05-07 21:38] gcassel commented on #15
As mentioned, not well-oriented-- and now I should rewrite...

Exchange may involve the rights to a product/good  *and* the rights to a service.    And the rights to a service certainly can be transferred, the same as any other resource.  It's less common, because services often *happen* before their rights could be transferred.

[2016-05-07 23:50] gcassel commented on #15
Based on a bit of gitter with @elf-pavlik :  I'm thinking about Service as something which must be modeled in different ways depending on who's modeling it, and what context they're modeling it in.   Each model has a *perspective*.

As previously alluded, I think that a desired service can be modeled *as a process*.  But Elf has pointed out that it's really important to describe it (and potentiall

[2016-05-08 00:04] bhaugen commented on #15
It might be useful to think of this stuff from the viewpoint of citizens of a different economic system.

Some of them maintain a bus, which other people can ride on.

A lot of community resources go into that bus. And a lot of work of the people who maintain and drive the bus. For them the bus is a series of processes.

For the people who ride the bus, it is a nice community service. But if they

[2016-05-08 11:38] bhaugen commented on #15
Some implications of a different economic system:
* even in that different system, the bus will still have some reciprocal claims on the riders.
    * the reciprocity does not need to be settled with money, paid to the bus organization, which pays the driver and the maintainers and for the equipment and energy to propel the bus.
    * it could also be indirect, where the riders provide food and ho

[2016-05-08 13:23] elf-pavlik commented on #15
In my chat with @gcassel I tried to emphasise distinction between Transportation as a process, and the primary/motivating output of that process, which we may call Transportation **Service**. In [Bus Trip](https://github.com/valueflows/valueflows/blob/master/use-cases/bus-trip.md) use case @bhaugen called the process *Trip* and the output *Passenger transportation service*.

Also @ahdinosaur wrote

[2016-05-08 23:41] gcassel commented on #15
We must distinguish a transportation service (or function) from any organizations which *provide* such services.

Casually, people may often call a organization/ company "a bus service"--  but that's *not* how VF wants to use the term "service"... is it??

An organization is a very different class of 'entity' (system, really) than the services/ functions which it provides.

There are many related

[2016-05-09 00:35] elf-pavlik commented on #15
I think bus transportation gives a good example to analyse difference between the Process, its outputs and Services involved in *vf:Transfer*.

### Process

Bus travel Paris -> Brussels
Seats available: 48

this process gives output which has **potential** to transport 48 people for the whole distance.
in most cases buses don't reach their full potential and the **actual** transport sevices provid

[2016-05-10 15:45] elf-pavlik commented on #3
@ahdinosaur would you like to create a use case out of the crate with 50kg of apples in it?
I think we may need to introduce concept of package. Some apples providers might actually want to also keep track on their wooden crates and rent them out based on some deposit.

[2016-05-10 15:58] bhaugen commented on #3
We will need packages, and package sizes (how many per package) depends on resource type, and sometimes resource type details (large broccoli heads vs medium vs small, for example).

[2016-05-10 16:17] elf-pavlik commented on #3
Foodsoft has some nice UI for dealing with boxing issues and using tolerances on equivalent of *vf:Request*, which assist filling up the boxes - https://vimeo.com/145927538 (starts ~5:15)

[2016-05-12 21:59] elf-pavlik opened #18 "Faircoin"
Looking at use case: https://github.com/valueflows/valueflows/blob/master/use-cases/digital_currency.md

resources or stocks which contain resources?

does the address link in any way to person's identity, or anyone who has access to that address (crypto key?) can control it?

each person can have multiple addresses, also as I understand one can loose access to an address (by loosing crypto key?),

[2016-05-12 22:28] bhaugen commented on #18
It's ambiguous. We need to decide how to define resources. Bill McCarthy never instantiates resources. For him, they are derived from Economic Event history. I generally do instantiate resources in software the same way as ERP systems, depending on the specificity of the resource identifiers.

So if it's a serialized resource (e.g. each individual has a different serial number), then that's the re

[2016-05-12 22:44] elf-pavlik commented on #18
Do you treat Faircoin in a similar way as you treat USD? (USD in AccountCredit representation, not printed Cash which makes just a tiny fraction of USD - https://github.com/elf-pavlik/currency/issues/2)

from https://github.com/valueflows/valueflows/issues/117

[2016-05-12 22:50] bhaugen commented on #18
I think so.

I think they are rights to an account, which is a count resource (in the rough classification I listed above).

One of the aspects that is dawning on me as we tease this stuff apart is how much the types of flows (the way they flow, the event behaviors) depend on the resource type.

[2016-05-12 22:59] elf-pavlik commented on #18
https://github.com/valueflows/exchange/blob/master/Transfer.md

Moving rights to and responsibilities for an economic resource from one agent to another. This does not cover change of location.

If agent does *vf:Transfer* of 2Faircoin or 10USD to another agent. Do we consider those 2Faircoins or 10USD as *economic resource* in "Moving rights to and responsibilities for an economic resource from o

[2016-05-12 23:14] bhaugen commented on #18
That is in fact what is happening in our current Faircoin app. Many agents have accounts (addresses) in the same wallet.

In the case of digital (or probably other currencies that are basically money-of-account) that definition of transfer seems inaccurate or inadequate. It might be either that vf:Transfer covers the behavior of some flows for some resource types, and does not cover others. Or the

[2016-05-12 23:19] elf-pavlik commented on #18
I understand that you prefer not to consider "5USD on BankAcount nr. 3424242342" or "2Faircoin on adress 312340149140" as *vf:Resource* (aka *Economic Resource*)?

[2016-05-12 23:27] bhaugen commented on #18
If you mean the numbers on transactions in process, they are not spendable. Thus, not actually money  resources. If you mean the numbers in actual accounts that are spendable, they are economic resources. It's at least partly about what you can or cannot do with them.

[2016-05-12 23:28] fosterlynn commented on #18
I think we should broaden and also clarify the definition.  We need to do that for service transfers too.  And work on the definitions of Resource etc. at the same time, clarifying the various stock / flow concepts.

I can plug in more on it in a day or so.

[2016-05-12 23:50] elf-pavlik commented on #18
I wrote

so the digits 'on' particular account/address, which I understand you do consider vf:Resource (*economic resource*)

I understand that by 'spendable' you mean that one can put them into a 'transaction in process' again? Can we see this 'transaction in process' as digital shipping/delivery - it leaves one storage place and arrives to another storage place.

[2016-05-13 00:11] bhaugen commented on #18
Agreed.

[2016-05-13 11:02] bhaugen commented on #18
More about stocks and flows: REA creates stock-and-flow systems, where resources are stocks, and economic events are flows. In fact, the relationship between resource and event in REA is stockflow, and several people we know who create REA-based software create Stockflow objects. I did, too, in my first REA-based software, but then got over it because the economic event is sufficient.

But, being

[2016-05-13 13:15] elf-pavlik commented on #18
Can you do vf:Transfer within a single faircoin address? So no faircoin:Transaction happens, the valueflow environment does everything internally. Just vf:Transfer of rights to certain amounts of Faircoins stored and the same address. No vf:Transportation based on faircoin:Transaction to **move** Faircoins between two different addresses.

[2016-05-13 13:26] bhaugen commented on #18
I think so. The change output can go back to the same address. But for the main amount to be decremented from the origin address and then incremented back into the same address, minus network fee, what would be the point?

[2016-05-13 13:30] elf-pavlik commented on #18
No! faircoin:Transaction doesn't even happen at all. In your valueflows environment you just do vf:Transfer and done, Faircoin system doesn't even know that anything changed...

In similar way https://transferwise.com do many clearings as their internal transactions. They minimise movement (vf:Transportation) of ISO4217 currencies between accounts. As I understand they also do some currency exchan

[2016-05-13 13:33] bhaugen commented on #18
Missed that part, sorry. Would have helped to explain that you are thinking abut clearing. That would be a good use case.

[2016-05-13 16:30] elf-pavlik commented on #15
How do we relate Service and Work?

[2016-05-13 18:15] bhaugen commented on #15
Good issue. I got an email out to the REA gang and am hoping for some tips on service.  Short response for now: work can go into a service. Now to define both better...

[2016-05-13 19:13] elf-pavlik commented on #15
From *vf:Process* perspective
* *vf:Work* - subclass of *vf:Resource* which goes into in *vf:Input* in *vf:Process*
* *vf:Service* - subclass of *vf:Resource* which goes out of *vf:Output* in *vf:Process*

so in P -> [O|I] -> P -> [O|I]

*vf:Work* ~= *vf:Service (we may still find some differences)

[2016-05-13 20:29] fosterlynn commented on #15
A Service could include other inputs besides work.  For example Sensorica offers a 3D printing class that they consider to be a service.  Besides work, there are inputs of a space (use), the printer (use), some random filament to do little demo projects in the printer (consume).  Any printer use triggers a transfer of $1.50/hour into the printer maintenance fund, an expense of providing the servic

[2016-05-13 20:33] fosterlynn commented on #15
^ but I think you already have talked about this kind of example, so maybe I missed your point.... ?

[2016-05-15 14:54] elf-pavlik commented on #12
Yesterday we talked with @bhaugen about transferring some other rights than **ownership**, for example **custody**, and days before **use(rship)**. In case of monetary currency seen as resource, can anyone see in practice any other rights to it that one can vf:Transfer, besides**ownership**? Monetary currency seems to me not 'transfer only' but also 'own only' resource.

[2016-05-15 15:05] bhaugen commented on #12
Sensorica has custodians for its CAKE bank account. Lots of bank accounts have multiple signers, not all of whom own the account.

[2016-05-15 15:17] elf-pavlik commented on #12
But that seems related to **the account** which I see more of a stock which contains monetary currency. I ask about ownership over the money (digits) **deposited** on that account, not the account itself.

[2016-05-15 15:29] bhaugen commented on #12
What's the diff between the money(digits) and the account(stock) in a stock (indirectly identified) resource?

[2016-05-15 15:30] bhaugen commented on #12
P.S. the multiple signers can spend the money...

[2016-05-15 16:52] elf-pavlik commented on #12
@bhaugen could you please capture *Sensorica CAKE bank account* as use case, putting emphasis on **ownership**, **custody** and who can 'bank transfer' money deposited on it to other accounts. I think we can have more focused discussion about it if we have such well documented use case.

[2016-05-15 17:11] bhaugen commented on #12
Will do.

[2016-05-16 14:03] fosterlynn commented on #14
As part of this discussion, I'd like to also consider the recipe layer.  At that point, there really isn't anything that could eventually become a resource.  There really only is a resource type.

So I'm hesitant to eliminate vf:ResourceType.  We can't get the properties we need from the taxonomies out on the web for resource type.  Like unit and isSubstitutable.  And a name so the recipe can be r

[2016-05-16 14:05] bhaugen commented on #14
Is anybody still thinking seriously about eliminating vf:ResourceType and vf:ProcessType?

[2016-05-16 14:25] elf-pavlik commented on #14
I think we do have *some resource of certain type*, I see this resource in some kind of 'thinkable' state. Whenever we use quantities, we should use it on an instance of vf:Resource not an instance of  ResourceType.

[code]
**NOT**

[code]

[2016-05-16 14:32] bhaugen commented on #14
Seems pretty hand-wavy to me. Assuming we go with this (and I don't), what is vf:ResourceType used for anymore? Or are you seriously thinking of eliminating it?

Looks like vf:kind is the same as ResourceType, and you are introducing the idea of an imaginary Resource.

What am I missing?

[2016-05-16 14:34] elf-pavlik commented on #14
can you please write snippet of data where you specify quantity "5kg of apples" in a Recipe?

[2016-05-16 14:48] fosterlynn commented on #14
I think concretely you can't apply states here.  The recipe "resource" is not a prior state of the actual resource that gets created or used.  It is a whole different level: the type level.  States take some object through different stages.

I'll try to write a snippet, @elf-pavlik

[2016-05-16 15:07] fosterlynn commented on #14
[code]
[code]
Names and urls made up.  Syntax not checked.  Probably need a better way to id the resource type.  Hoping to get the idea across....

[2016-05-16 16:20] elf-pavlik commented on #14
I really don't like the use of *vf:amount* property on an instance of *vf:ResourceFlowType*. I would prefer to explore something in following direction
* please notice use of [schema:SomeProduct](https://schema.org/SomeProduct)
* **vf-x:** stands for experimental namespace, to distinguish terms which don't have agreed definitions in relevant .md file.

[code]
In that case we can just copy same [Bl

[2016-05-16 16:50] fosterlynn commented on #14
I am trying to make that be the type object that represents the flow in a recipe, not the resource. It references a resource type, process type, and event type (for lack of a better name at the moment).  And it has an amount because recipes need that.  The amount is not attached to the resource or resource type, it is attached to the flow.

I'm looking at the references to schema.org and GR, from

[2016-05-16 19:55] fosterlynn commented on #14
I'm not sure of the significance of your bundling the @type,  'vf-x:kind', and  'vf-x:amount' under vf-x:matchingResource, vf-x:intendedResource, vf-x:rightsFor.  Looks like those all vf:Resources, or rather subclass vf:MaterialItem.  So this gets into the stock vs flow thought process, I think.  To you, these are resources as they flow, right?  Like as they are consumed or whatever?  If so, that

[2016-05-16 20:08] elf-pavlik commented on #14
You make *vf-x:amount* an attribute of instance of *vf:Input*. I see *vf:Input* as *relationship* between instance of *vf:Process* and instance of *vf:Resource* (even if we so far only can think of that resource and it has no existence outside of our imagination, always case on *Recipe* phase). A relationship represented as [N-ary relation](https://www.w3.org/TR/swbp-n-aryRelations/). I see reason

[2016-05-16 20:14] bhaugen commented on #14
A vf:Resource will have a quantity. In case of a serialized resource, the quantity is 1. In terms of a stock resource, the quantity could be 1000. The vf:Input might want 10 of those.

[2016-05-16 20:15] bhaugen commented on #14
In other words, the quantity of the input might be different from the quantity of the resource.

[2016-05-16 20:20] fosterlynn commented on #14
Exactly!  So a vf:Process (consumes 10) vf:Resource.

[2016-05-16 20:35] fosterlynn commented on #14
Or more clearly: a vf:Process (consumes amount:10) vf:Resource (amount: 1000).

[2016-05-17 01:50] ahdinosaur commented on #14
:-1: '@type' of resource type as `vf:Product`, `vf:Service`, etc, with `vf:kind` to describe the platonic ideal of the resource. whether a resource type is a product, service, or material item seems to be distancing us from what the resources *really* are, i'd rather in this example the resource type is "apple" and [various resource type behaviors](https://github.com/valueflows/resource/issues/4)

[2016-05-17 13:50] fosterlynn commented on #14
OK I see we are talking past each other, sorry about that.  So I am seeing the vf:Input as a relationship between the vf:Process and the vf:Resource that exists on the other side of the input, the stock of 1000 apples.  You are seeing it as relationship with the "resource" that is part of the flow.  Like the 10 apples from the stock of 1000 apples.

@elf-pavlik I've been trying to think about our

[2016-05-17 15:54] elf-pavlik commented on #14
sure we can do it differently, just keeping in mind http://www.productontology.org/#faq1

[2016-05-17 16:46] bhaugen opened #20 "ResourceType taxonomy"
For example, http://aims.fao.org/standards/agrovoc
or http://www.productontology.org/
or...?

[2016-05-17 17:14] elf-pavlik commented on #20
Please notice difference between SKOS concepts defined in AGROVOC and OWL classes defined in Product Ontology e.g http://www.productontology.org/doc/Apple.html

Once again https://www.w3.org/2006/07/SWD/SKOS/skos-and-owl/master.html

I do want to use heavily https://www.wikidata.org/ - check out it's autocomplete, friend started a small lib which will allow to use such wikidata based autocomplete

[2016-05-17 23:16] ahdinosaur commented on #14
hmm, by that logic, shouldn't we do the same for *all* our type objects?

[2016-05-18 14:08] bhaugen opened #22 "hard vs soft allocations"
These are used both in resource sales as well as issues to manufacturing processes.

A soft allocation is a type of rea:Commitment which allocates a quantity of an rea:ResourceType but does not allocate any particular rea:Resources.

For example, in a stock of apples, Pavlik may have a commitment with Bob for 5k of Apples. That is, any apples, not any particular apples.

Bob may have 20kg of Apple

[2016-05-18 14:13] elf-pavlik commented on #13
To clarify, same stock can 'contain' multiple resources
[code]

system just needs to prevent creating resources with sum of amounts bigger than the amount actually in the stock

[2016-05-18 16:22] elf-pavlik commented on #14
@ahdinosaur I think we can look at this topic in general in https://github.com/valueflows/valueflows/issues/124

Let's maybe all try to stay here on the topic, I might rename this issue to something like "Phases (or stages) of resource manifestation".

[2016-05-18 16:29] fosterlynn commented on #14
Actually that issue is about event types; @ahdinosaur 's comment is about resource types, I think.

Although I agree with trying to stay on topic, and am fine with this being about phases and layers.  And I also understand that our topics are quite interconnected.

[2016-05-18 16:54] bhaugen opened #23 "Defining vf:EconomicResource"
First, I think we should use the name EconomicResource since the undifferentiated name Resource is associated so strongly with Resource in Resource Description Framework (RDF).

Second, I want to try out using rea:Name as the namespace (even if that namespace does not exist yet) for REA concepts that we are basing a vf:Name on, at least partly, and also at the same time to explain how we are varyi

[2016-05-18 17:52] fosterlynn commented on #23
vf:EconomicResource is a tangible or intangible good or service that possesses utility (economic value) to an EconomicAgent.

I like it except would just say Agent, and not revisit that name.  Also if something comes up better than "good", that seems a little product-like.  But if not, I won't sweat it.

[2016-05-18 17:58] bhaugen commented on #23
I'm good with Agent. If anybody has anything better than good, I'm good with that, too.

[2016-05-18 19:03] bhaugen opened #24 "Can you have a zero quantity vf:EconomicResource?"
Depends on what you mean by "have", which I think depends on what you want to do with it.

If you want to use the resource in some way, no.

If you want to refer to a resource that once existed, and want to see its history, yes.

We have discussed how to identify resources in https://github.com/valueflows/resource/issues/13 and https://github.com/valueflows/resource/issues/23

Regardless of which

[2016-05-18 21:05] fosterlynn commented on #14
My thoughts about phases:  I think the layers are not phases.  They are parallel layers.  They are only phases in a broad sense, not in any sense of the objects in them, with the possible exception of commitment and event.  But a non-real thing changing into a real thing seems too much for a phase change to me.  And just as a note, the plan layer does not always happen, some processes and transfer

[2016-05-18 21:09] bhaugen commented on #23
One corollary to all this vf:EconomicResource definition and identification stuff is that vf:Agents who want to coordinate and collaborate will need to agree on definitions and identification schemes. This is why [GTINs](http://www.gtin.info/) and similar schemes exist.

[2016-05-18 21:26] bhaugen commented on #14
What happens in the plan layer that is phased is the potential evolution of an Intent into a Plan into a Commitment. Those are horizontal, all in the same layer, but if an intent evolves like that, then the commitment and plan are all related to the intent.

This could be done by states of the same thing or back-references from Commitment to Intent. I think the difference between Plan and Commitme

[2016-05-18 21:56] fosterlynn commented on #14
Taking this a little bit farther, maybe Offers and Wants turn into Commitments for Transfers, and Proposals turn into Plans for Processes... ?

[2016-05-18 22:04] bhaugen commented on #14
Naming alert: @ahdinosaur has been pushing for a simpler naming scheme, where, if I remember correctly, vf:Process becomes vf:Transformation, which is the same as rea:Transformation. Maybe we should get on the stick and nail down more better names down before we confuse ourselves as well as the innocent bystanders.

[2016-05-18 23:02] fosterlynn commented on #14
Actually I think that was vf:Transformation a subclass of vf:Process, as is vf:Transportation.  Last I heard. :)

[2016-05-18 23:04] bhaugen commented on #14
Oops. Ok with me.

[2016-05-18 23:19] ahdinosaur commented on #14
originally my suggestion was vf:Process becomes vf:Transform, alongside vf:Transfer and vf:Transport.

[2016-05-18 23:22] elf-pavlik commented on #23
We don't try to define *Resource*, Wikipedia does pretty good job with managing 'global namespace' but we define *vf:Resource* where the `vf:` namespace implies focus on economy. I hope we will not need to use *vf:EconomicProcess*, *vf:EconomicTransfer* etc. If someone says/writes just *process* or *transfer* we can assume that person intends to use the Wikipedia definition.

We can simply require

[2016-05-18 23:37] fosterlynn commented on #14
Oh yeah, sorry!

[2016-05-18 23:40] elf-pavlik commented on #22
I understand you would consider that 20kg of apples as on instance of *vf:Resource*, and those 5kg and 15kg NOT instances of *vf:Resource*

How do you model that 5kg of Apples which you commit to me?  I assume that you need instances of *vf:Commitment* available to know how much of that stock resource you commit to who. Maybe you could write a snippet of how such instance of *vf:Commitment* look?

[2016-05-18 23:45] bhaugen commented on #23
So far, I think that EconomicResource is the only one we need to qualify, unless we use Event. In that case, we also need to qualify EconomicEvent, But I think we need to do that. And it is different from other versions of Resource (or Event). I think you are wrong that it will not be confusing if we do not qualify it. I have run into this in a lot of settings, and both are always confusing if not

[2016-05-18 23:50] bhaugen commented on #22
I think I was at least semi-clear that I think context agents should figure out which properties of a resource should be used for identification. If I was putting 5kg of apples in a bin for you to pick up, I would probably identify it as a separate resource. Soft allocations, I would not. But up to the context.

[2016-05-18 23:55] ahdinosaur commented on #23
hm, i haven't had a problem yet while explaining unqualified terms, i just preface everything with "these terms are how we describe things in Value Flows land".

[2016-05-18 23:58] ahdinosaur commented on #23
@bhaugen what if we made a point to always use the vf: prefix even when talking in human language words? it seems we have been naturally doing it, but if we formalized this so every term was qualified via the prefix, would that help?

[2016-05-18 23:59] gcassel commented on #18
Thanks for referring me to this thread on the Sunday call.

I'm very interested in however we come to use terms such as wallet, account, address, stock and/or inventory in the future.

I understand obviously that coders have to work with various local taxonomies such as Faircoin stuff.   FWIW though, I'm currently thinking that it's probably possible for VF to use only one term-- such as "account"

[2016-05-19 00:02] bhaugen commented on #23
Don't know. People don't tend to use prefixes in any setting that they are not required to do so.

I have had continually problems with resource and event over the years, so depending on the context, I often qualify that I am talking about an economic resource or economic event and not that other definition of event or resource.

But in general, I would not block an otherwise consensus agreement o

[2016-05-19 00:04] bhaugen commented on #18
So far, I have not seen any groundswell for vf to define account or wallet.

[2016-05-19 00:15] gcassel commented on #23
The "economic event" concept is a very distinctive deviance from how most people use the term.  For instance, in agreement-based organization I use this definition:

^IMO that's pretty nearly the normal perspective of a "social event" or organized event.

So, I think maybe it's important to often (but not universally) specify "economic event" to indicate that there's a certain conceptual disciplin

[2016-05-19 00:22] fosterlynn commented on #23
Yes for sure this is how most people use it.  I'm hoping we can find a better word than Event, that is also not EconomicEvent.  Maybe Flow or ResourceFlow or ValueFlow, although that has been a bit confusing too.

[2016-05-19 00:27] ahdinosaur commented on #23
oh, i use events as [event-based programming](https://en.wikipedia.org/wiki/Event-driven_programming) or when talking about [lambda architecture as an append-only database of events](https://martin.kleppmann.com/2015/03/04/turning-the-database-inside-out.html). :smile:

[2016-05-19 00:47] gcassel commented on #23
I guess that "transition" would be okay instead of economic "event",  but then we'd have transfer, transportation, transformation, transition...   maybe more I'm not thinking of right now.

[2016-05-19 00:58] gcassel commented on #22
I'm too tired to think much on this, but when peeking at gitter chat earlier, I was thinking that soft allocation would normally correspond directly to a commitment...  and hard allocation seems to me to be an act of transportation, even if something is moving only a few feet.

[2016-05-19 11:47] fosterlynn commented on #23
Funny enough, that is a lot closer to the behavior of rea:EconomicEvent than the kind you hold and a lot of people come to....  :wink:

Time to get out the thesaurus....

[2016-05-19 15:30] elf-pavlik commented on #14
Do you see *vf:Transfer* as similar to *vf:Transport* but with the difference of applying to the **rights** to resources (which I call currency in https://github.com/valueflows/valueflows/issues/128) not directly to resources?

* *vf:Transport* - *vf:pickup* the laptop from place Foo and *vf:dropof* it in place Bar
* *vf:Transfer* - *vf:take* owenrship rigths to the laptop from agent Alice and giv

[2016-05-19 15:42] elf-pavlik commented on #23
When we speak or write free form text we probably should use term Economic Resource and Economic Event. Still for code snippets and our conversations happening on various online venues, I find `vf: ` prefix even more precise and making it clear that we talk about term defined in Value Flows namespace. Once again, when you say just 'Economic Event', does it also relate to 'Input Plan' or only appli

[2016-05-19 15:55] bhaugen commented on #23
I am attempting to use prefixes in what I write in VF repos, although sometimes I will introduce terms with a prefix and then leave them off and use the lowercase form for subsequent text, although I could use the prefix always if that works better in the VF context. I am talking about other people who will not be so constrained (as I thought would have been clear).

[2016-05-19 16:18] elf-pavlik commented on #23
@bhaugen does *vf:Resource* work for you or you need the explicit 'Economic' even with the `vf:` prefix?

[2016-05-19 16:54] bhaugen commented on #23
Personally, I prefer the explicit Economic. But I do not want to be the Benevolent Dictator. (I have asked Lynn, if I start acting like some people we know, to shoot me.) I want the gang to take over. I will not block any consensus decisions.

[2016-05-20 16:56] elf-pavlik opened #25 "vf:isSubstitutable (rdf:Property) or vf:Substitutable (rdfs:Class)"
https://github.com/valueflows/resource/blob/master/Resource.md#resource-definitions

I assume that _vf:isSubstitutable_ would have definition like (prefix definitions not shown)

[code]

I would like to propose another approach

[code]

This way we define a set of all substitutable resources and now we can use _rdfs:subClassOf_ to mark any class as included in that set. For example

[code]

Of cou

[2016-05-20 17:27] bhaugen commented on #25
Fine with me. I think also that substitutable may go with several other properties that I can enumerate at the moment.

[2016-05-20 17:59] elf-pavlik commented on #25
We will need to stay patient in exploring where we see it appropriate to use RDFS/OWL to define classes and where we see it appropriate to define instances. In general, whenever we want have instance included in some kind of set, defining a class and relating instance with it through `rdf:type` predicate seems more natural. All *-able categorizations should fit that approach very well.

[2016-05-20 18:05] fosterlynn commented on #25
@elf-pavlik  I take your LOD experience as way past mine here.  But I got a question.

ex:B9R-1-red_DLP_resin_photopolymer a rdfs:Class ;
  rdfs:subClassOf vf:Resource, vf:Substitutable .
[code]

[2016-05-20 18:13] fosterlynn commented on #25
Actually, using Substitutable also does not give people a way to define that for a resource type, which seems like a problem to me.  Somehow, people who develop products (etc) need to have a way to define a bunch of things about them before any actual resources are created, or planned, or anything.

What am I missing?

[2016-05-20 18:27] elf-pavlik commented on #25
This does it, if we define resource types as instances of rdfs:Class
[code]

http://www.productontology.org/#faq1 does it by acting as live proxy to Wikipedia concepts.

We should analyse
* [gr:ProductOrService](http://www.heppnetz.de/ontologies/goodrelations/v1#ProductOrService) | https://schema.org/Product
* [gr:Individual](http://www.heppnetz.de/ontologies/goodrelations/v1#Individual | https://

[2016-05-20 18:33] fosterlynn commented on #25
Got it, sorry!

[2016-05-20 18:41] elf-pavlik commented on #25
We can NOT expect Resource Type to mandate units. For example:

Resource Type: http://www.productontology.org/doc/Apple.html

If we think about Input/Output and Offer/Request
* amount: 5kg , type: prodont:Apple
* amount: 24pcs, type:prodont:Apple
* amount: 11lb, type:prodont:Apple

I agree that agents might want to define default units, which **they prefer to use** for resources of particular type

[2016-05-20 19:43] elf-pavlik opened #26 "ResourceType vs. 'ProductModel'"
https://github.com/valueflows/resource/issues/25#issuecomment-220683038

* amount: 5kg , type: prodont:Apple
* amount: 24pcs, type:prodont:Apple
* amount: 11lb, type:prodont:Apple

We need to start documenting differences between generic type of a resource and 'product models'. For example generic type can't mandate unit, but more agent specific model will usually have unit.

I propose to include

[2016-05-20 19:55] fosterlynn commented on #26
Yes, true.  Although ResourceType includes more than ProductModel, since it includes types of work, and things not for sale.  Not oriented around final product for sale, oriented around contributory accounting and coordination of work.

[2016-05-20 20:02] bhaugen commented on #26
Not sharing definitions between instances of NRP is only about technical software limitations and user-community requirements. We want to share a lot of definitions and also have resource flows that spanned instances, but have not had two instances of NRP that wanted to do that.

It's more about the limitations of a relational database, which is what NRP is built on, and not dealing with domains l

[2016-05-20 20:04] bhaugen commented on #26
In other words, I don't care if Resource Types specify units if some situation does not find them useful.

[2016-05-20 20:42] elf-pavlik commented on #26
Do we agree that each instance of Resource needs to specify unit which it uses? We can NOT assume that type definition provides unit which applies to that particular instance.

[2016-05-20 21:31] bhaugen commented on #26
I think so, but need to think back to the times I implemented unit conversions. If I remember correctly, in each case the Resource had a base unit. For food, in particular, people might specify several different units for the same resource, and get their answer converted from the quantity of the base unit into the unit they wanted to see. For example, converting pounds to kilograms or vice versa.

[2016-05-20 21:56] bhaugen commented on #25
What @fosterlynn mentioned upthread is fairly critical:

Is that handled in @elf-pavlik 's proposals? Something like substitutable or serlialized or lot controlled could be rdf classes, but that seems fairly heavyweight for properties that are invented by communities. And I mean ResourceType properties, that will apply to all Resources of a type.

[2016-05-20 22:19] fosterlynn commented on #26
I'm good with this.

[2016-05-20 22:35] fosterlynn commented on #25
Agreed.

[2016-05-20 22:41] fosterlynn commented on #25
This is handled in gr and schema.org by gr:ProductOrServiceModel and schema:ProductModel.  Other than that, things are mushed together quite a bit in those ontologies.  But those ...Model classes have a ton of stuff which we haven't needed yet, dimensions, etc. etc.  But are all part of nrp:ResourceType concept.

I'm still thinking.  Don't know where @elf-pavlik is at, we are doing YAML as the nex

[2016-05-20 23:39] bhaugen opened #27 "Law of inventory: the more accurate you try to make your inventory, the less accurate it becomes"
This is one of the paradoxes of the map vs the territory.

Companies used to (and some still do) spend a lot of time doing periodic inventory counts and recounts trying to reconcile their computerized inventory system with what people find in the physical inventory.  The problem is that counts and recounts are subject to error, no less and sometimes more than the original inventory transaction rec

[2016-05-22 01:11] ahdinosaur commented on #26
[here's an example i just wrote of a "ProductModel"](https://github.com/valueflows/valueflows/pull/115#issuecomment-220808238), am i missing something about why we need a new term for this?

[2016-05-22 02:30] elf-pavlik commented on #26
If I cast intent, I would use some common reference for apple eg. http://www.productontology.org/doc/Apple.html

If each farmer defines it's own resource type for apples and doesn't relate it in clear way with a commonly known type definition of apple. How will I get matches for all the apples offered in my region?

You can find more detailed example in [Olive oil request](https://github.com/value

[2016-05-22 10:01] bhaugen commented on #26
@ahdinosaur

Than what? Product Model or Resource Type (or Apple)?

[2016-05-22 10:37] ahdinosaur commented on #26
@bhaugen nevermind, i wasn't sure if Product Model is a new term alongside Resource Type, whereas it seems like we only need the latter in combination with the other existing terms..

[2016-05-22 10:43] bhaugen commented on #26
ProductModel is [schema.org's term](https://schema.org/ProductModel) for "A datasheet or vendor specification of a product (in the sense of a prototypical description)." Which is pretty much like a subset of possible ResourceTypes.

I think @elf-pavlik cited it as an example of existing vocab terms that we could reference in one way or another. But he can explain more if and when he wants. As @fos

[2016-05-22 13:26] elf-pavlik commented on #26
@ahdinosaur I would still like to know how you plan to relate *ex:apple* product model, specific to particular agent where we have as many product models as typsnowflakes, with some common reference for resource types like *prodont:Apple*

[2016-05-22 16:57] elf-pavlik opened #28 "resource types (and models) which differ by processing stage"
Example of different generic types
- prodont:Apple
- prodont:Apple_juice
- prodont:Oat
- prodont:Rolled_oats

or https://en.wikipedia.org/wiki/Category:Tomato_products

Same can apply also to product models defined in context of some specific agent (provider)
- bumblebee:apple
- bumblebee:apple-juice

Plus various packaging variants 5kg bag or 50kg bag

[2016-05-22 17:12] bhaugen commented on #28
Another angle that is interesting about those examples is if you have some recipes, and somebody wants some prodont:Apple_juice, but you don't have juice but do you do have prodont:Apples, you can crank up the apple press and make juice.

[2016-05-22 17:26] elf-pavlik opened #29 "modeling 'Usage' as vf:Resource (similar to vf:Service)"
Based on snippet in https://github.com/valueflows/valueflows/issues/110#issuecomment-220734960 and chat with @fosterlynn I would like to consider to model usage as vf:Resource in similar way as vf:Service.

Example: "One day of using particular bicycle"
- It can go as resource on input to my planned instance of _vf:Transportation_
- I can include it as needed resource in instance of _vf:Request_
-

[2016-05-22 17:53] bhaugen commented on #29
I'll comment on those two issues separately:

1. Have we nailed down the model for vf:Service yet?
2. Usage applies to inanimate objects like equipment and facilities (rooms, labs, etc). Services usually involve human labor (maybe in addition to usage of equipment etc, or maybe not).
3. Usage has pretty different treatment in value equations than any other (whatever we are calling Event Types thes

[2016-05-22 17:57] bhaugen commented on #29
Mlost vf requests or commitments will be requests for rea:EconomicEvents.  A claim is basically a right to an economic event. You can transfer claims. See [factoring receivables](https://en.wikipedia.org/wiki/Factoring_(finance)). I've seen an REA treatment of factoring claims, but it was on a whiteboard and I can't remember all the details. The claims were bundled as a resource.

[2016-05-22 20:24] elf-pavlik commented on #29
I think that *Service* and *Usage* have many similarities. Let's look at those 3 similar cases:

* I take a taxi from A to B
* I take a self driving taxi from A to B
* I take a [Car2Go](https://www.car2go.com/) style car from A to B

**Similarties**, let's assume that in all cases we use the same model of car, in second case it just has 'autopilot on'. A to B distance 20km and we take the same rou

[2016-05-23 01:40] ahdinosaur commented on #26
https://github.com/valueflows/process/issues/3#issuecomment-219600972

[2016-05-23 13:10] elf-pavlik commented on #26
SKOS relates concepts (instances of skos:Concept) to each other, so far we looked at defining types as instances of rdfs:Class.
I already referenced this document:
* https://www.w3.org/2006/07/SWD/SKOS/skos-and-owl/master.html

Those two also come relevant:
* https://www.w3.org/TR/skos-reference/#L1170
* https://www.w3.org/TR/2005/WD-swbp-skos-core-guide-20051102/#secmodellingrdf

[2016-05-23 15:11] elf-pavlik opened #30 "Resource stage"
@fosterlynn wrote in Resource.md

I'll link to this issue below that section.

IMO we may need some construct for the workflow itself which may connect resource to a stage of that particular workflow.

[2016-05-23 15:28] elf-pavlik commented on #5
README clarifies it already. We also have more precise issues open: #26 & #28

[2016-05-23 15:29] #5 closed

[2016-05-23 15:57] bhaugen commented on #30
* [Loose coupling vs tight coupling](https://github.com/valnet/valuenetwork/wiki/Loose-coupling-vs-tight-coupling,-or,-direct-process-dependencies-vs-resource-flows)
* [Specifically in workflow tools](http://bionics.it/posts/workflows-dataflow-not-task-deps)

[2016-05-23 16:13] elf-pavlik opened #31 "YAML examples for vf:underlyingResource"
from Resource.md

We need to add snippets to illustrate it. Two instances of _vf:Resource_ connected with _vf:underlyingResource_
- an instance of _vf:Resource_ representing "the rental of an apartment"
- an instance of _vf:Resource_ representing "apartment itself"

I think we should base it on and link to [apartments use case](https://github.com/valueflows/valueflows/blob/master/use-cases/apartme

[2016-05-23 16:31] elf-pavlik commented on #24
I think it relates to #11

* I have a stock of 50kg of apples
* You have a stock of 50kg of apples
* We move 50kg of apples from my stock to your stock
* I 'have' an empty stock of apples with no apples in it
* You have stock of 100kg of apples
* We move 50kg of apples from your stock to ..
 * I can merge that 50kg into my old empty stock
 * I can create a new stock out of those 50kg

It can get m

[2016-05-23 16:51] fosterlynn commented on #31
Also: https://github.com/valueflows/process/issues/12

[2016-05-23 16:52] fosterlynn commented on #30
See also https://github.com/valueflows/process/issues/12

[2016-05-23 20:22] fosterlynn commented on #26
Seems like we just need a unit in the vf:Resource so that people know what the quantity is about.  Then conversion can happen whenever / however.  If we eventually want to support knowing more than one equivalent quantity/unit for one vf:Resource, then that is easy to add on I think.  I'm not sure you would even need to change the vocab, you can always define multiples of any property.
( @elf-pavl

[2016-05-23 20:44] fosterlynn commented on #25
So, the gr model (and schema.org seems to have more recently adopted some of gr's structure) has the following:

gr:ProductOrService as the superclass
-- gr:ProductOrServiceModel (this is the rough equivalent / subset of vf:ResourceType)
-- gr:Individual (this is a resource that is one serialized item)
-- gr:SomeItems (this is a resource that is some unknown group of a type of resource)

The last

[2016-05-23 20:44] bhaugen commented on #26
If a resource has a quantity+unit (number + unit of measure) and they always go together (as I understand they do in qudt) then a resource could have multiples of those and unit conversions should still work. As long as the multiple qty+units are consistent with each other. That is, if I understand my qudts correctly, they should be the same Quantity Kind (like Length or Mass, etc, but not some Le

[2016-05-23 20:46] bhaugen commented on #25
When I get time, or when it is desperately needed, I will come up with some test cases that will try to decide if that model would work. (Yes, I know, it probably works in their narrow domain. The VF domain is broader.)

[2016-05-23 21:20] elf-pavlik commented on #26
*vf:amount*, as any other propertynot define as *owl:FunctionalProperty*, can have multiple values, each of them an instance of *qudt:QuantityValue*. Than each of those instances can have different unit!

[2016-05-23 21:22] elf-pavlik commented on #30
See my comment nr 3 in https://github.com/valueflows/process/issues/12#issuecomment-221095085

We can use backlink to find the output and than the process. It looks that we don't need anything else than using that backlink (JSON-LD `@reverse`)

[2016-05-23 21:50] elf-pavlik opened #35 "bind location to another Resource"
In cases where resource stays on vehicle we could have another property e.g _vf:locationBoundTo_
Based on #34

[2016-05-23 23:44] elf-pavlik commented on #26
I added example which uses `@type` for:
* VF class
* the generic type (from product ontology)
* producer specific model
* https://github.com/valueflows/resource/blob/master/Resource.md#bicycle

[2016-05-24 00:56] elf-pavlik commented on #26
Possibly also worth keeping in mind https://en.wikipedia.org/wiki/Abox
* generic taxonomies seem somewhere in between Tbox and Abox
* producer specific models seem to fit Abox

[2016-05-24 12:15] fosterlynn commented on #35
Is it enough that the resource has "disappeared" into a process?  The truck has done the same.  It will come out on the other end of the process.

[2016-05-24 12:39] bhaugen commented on #35
We can tell that a resource is on a vehicle if it has experienced a pickup event which was an input to the transportation process. The resource has not really disappeared, it is now part of the process (on the vehicle), until it is dropped off.

The transportation process may have a route. If it is a [less-than-truckload shipping process](https://github.com/valueflows/valueflows/blob/master/use-ca

[2016-05-24 18:38] fosterlynn commented on #29
I'm thinking about the above example with the cars.  I would like to explore these all being services.  I don't have any conclusions yet, or even any tentative proposals! :)

In NRP, for equipment, we have units and units-of-use on a resource type.  In a process, people can log vf:use of some equipment resource using units-of-use, like hours.  Like https://github.com/valueflows/process/issues/7#is

[2016-05-26 16:22] elf-pavlik commented on #29
I would like to work on a way, to model Process independent from any notion of ownership. Transfer deals with that and for Process it shouldn't matter who owns what. It will matter when you do allocation of resources for some particular process, but at the recipe level and observation, ownership aspects should not come into play for describing the process. Similar as accounting it should stay orth

[2016-05-26 16:29] bhaugen commented on #29
I'm still trying to get everybody to start thinking about mutual coordination and what is required for that, and quit being worried about ownership.

Think of a commons, and management of a commons. Commons need to be managed or they will go to ruin. Use of scarce resources needs to be coordinated. Reciprocity is required in terms of upkeep of resources you use. The time you use a commons resource

[2016-05-26 16:31] fosterlynn commented on #29
For sure.  But I took your examples to all involve a Transfer (in addition to one or more processes) because I think a Service has to include a Transfer.  I don't know how to model it, but if someone provides you a service (even the CarToGo is a service I think, because other people are maintaining the car, etc.) then once you have received the service, the transfer has already occurred.  Can't gi

[2016-05-26 16:41] fosterlynn commented on #29
@bhaugen to clarify: I'm not disputing the requirement for something like units of use, like for equipment or for an apartment.  Just trying to figure out if the equipment and the apartment are different from each other or not, and if not, why don't we model them the same way, whichever that is.

[2016-05-26 17:42] elf-pavlik commented on #29
What if you live in co-living arrangement and share 3 cars among 10 people? (scheduling software assists you with coordinating that). This goes in direction of [Shared elecric lawnmower](https://github.com/valueflows/valueflows/blob/master/use-cases/shared_electric_lawnmower.md) use case

:+1:

[2016-05-26 19:57] elf-pavlik commented on #22
split & merged complementing YAML in https://github.com/valueflows/process/issues/9#issuecomment-221965499 Just a rough draft which needs several improvements! Most likely making the stock distinct from resource it contains.

1. before split

[code]

after split before merge, doesn't care about elf's stock at home, just allocation for him

[code]

before merge, doesn't care about coop's stock, jus

[2016-05-26 20:25] fosterlynn commented on #22
I like it.  I might think about it as vf:accepting the elf-stock-of-mangos and vf:improving it as the output..  But that is not the business of the vocabulary, it will support either.

No, this is good! :)

[2016-05-26 20:36] fosterlynn commented on #22
So, what is a vf:Resource and what is a rea:EconomicEvent (a vf:hard-to-name)?

What is ```elf:input-1```?  I think it is a rea:EconomicEvent, which we are modeling as an n-ary edge thingy (whatever that actually is).  It is not a vf:Resource, although it references one as one of its properties.  Do we agree?

[2016-05-26 21:13] fosterlynn commented on #22
Now, how about a similar but different use case, where Pavlik, Sally, and Bob (replacing the Coop in the other use case) are all part of a buying club, they contribute their time and their basements and their bikes to the work of the buying club, all the data is open.  They do soft allocation and there is no different resource type issue because the buying club defines the resource types.  They wa

[2016-05-27 16:44] fosterlynn commented on #30
Yeah, we used it because DHEN has a generic recipe for the steps herbs go through, because they are all basically the same and who wants to define 200 recipes that are the same.  But then because we had a generic recipe, defined on the Resource Type "Herb", which is parent resource type to all the herb resource types, we needed to know that "fresh catnip" and "dried catnip" could be used for "fres

[2016-05-27 18:15] elf-pavlik commented on #30
I think we need to work on it together with cases where you define different resource type based on how you package them. For example carrots 5kg in a bag or 50kg in a crate - same carrots from the same field stored in the same stock just package differently.

[2016-05-28 02:25] elf-pavlik commented on #22
@fosterlynn could you please clarify with YAML snippet how do you express 'soft allocation'? If possible both:
* 'soft allocation' of resource for transfer
* 'soft allocation' of resource for process

[2016-05-28 11:50] bhaugen commented on #22
See [pegging](http://www.apics.org/industry-content-research/publications/ombok/apics-ombok-framework-table-of-contents/apics-ombok-framework-5.6)

Soft allocations are just information about the relationships between existing and planned resources and requirements.

[2016-05-28 13:11] fosterlynn commented on #22
@elf-pavlik here is a "soft allocation", which is nothing more than a plan/commitment.  Could do all the events, but for the one you are probably thinking about:

[code]
 Then when the process happens (vf names need some work):

[code]

[2016-05-28 13:20] bhaugen commented on #22
Might be interesting to consider one of the missing features in NRP and all MRP systems I know about.

If I schedule a process next week that requires some ataulfo, and finds enuf in stock, my process will stop planning that branch right there.

But if you plan a similar process in between, yours will soft-allocate the ataulfo, and my process will not know anything about it.

Two previous projects

[2016-05-28 15:11] elf-pavlik commented on #22
now the buyclub for managing its `buyclub:bob-stock-of-ataulfo` needs to depend on commitments published in sally's dataspace 'sally:input-plan-3`

@fosterlynn you didn't even prefix the commitments and events to show which dataset publishes the canonical data. i'll also stop using urn:example and from now let's always use distinct prefixes to show which dataset originally published the data.

[2016-05-28 15:23] elf-pavlik commented on #22
Why the first process didn't soft-allocate? I see place for before allocation step where we just collect matches from which we can choose to allocate - https://github.com/valueflows/intent/issues/7

This way we can subscribe to the matching resources and stay up to date with their availability

[2016-05-28 16:41] elf-pavlik opened #39 "shares and 'logical stocks' of material resources"
I would like to discuss it based on [Shares: Peanuts deposited in community storage](https://github.com/valueflows/valueflows/blob/master/use-cases/shares.md) use case

### Agents

Let's just focus on 3 people, where one of them also manages the community kitchen:

[code]
### Resources
#### Physical

[code]
#### Virtual

[code]

[2016-05-28 17:50] elf-pavlik opened #40 "service capacity & its actual reception"
I added to Bus trip use case, observation of passenger trips: https://github.com/valueflows/valueflows/blob/master/use-cases/bus-trip.md#passanger-trips

We can use it to analyse difference between capacity of service and the actual reception. In the table I put for each segment on the route the % of max capacity that actually found recipient. We can also see how the output service of that transpo

[2016-05-28 19:37] bhaugen commented on #22
Subscribing to the matching resources is a great idea!

[2016-05-28 20:19] fosterlynn commented on #22
I wasn't thinking at all about the datasets (although I now realize this is why you prefixed elf: etc. earlier).  And I don't really want to make any assumptions about the datasets.  Shouldn't we be able to get all the data we need in a context, such as the buying club or the coop?  Or related to an economic activity that people are all involved in?  That is what vf should facilitate, no?

Assumin

[2016-05-28 20:33] fosterlynn commented on #39
I like this treatment, "part-of".

At some point, I'm curious to see how this compares with the agent-resource-relationship (with vf:quantities on them).  And the "underlying-resource", which would be very similar to the above.

[2016-05-28 21:25] elf-pavlik commented on #22
In many cases we may not have a single context which shares all the data. In my examples we had 3 datasets `coop:`, `sally:`, `elf:`. All the agents publishing those datasets could decide to make all the data public, but I don't want to force that. For example `coop:` could not expose any information about `coop:stock-of-ataulfo` (even that such stock exists in their records) or `coop:split-ataulf

[2016-05-28 21:37] elf-pavlik commented on #39
I see it related to my comment here https://github.com/valueflows/exchange/issues/6#issuecomment-214384889 The 'virtual stocks' seem more appropriate for 'earmarked stocks' and sharing control over resources in them. As usual we may need to write more YAML and compare it side by side.

[2016-05-28 21:40] bhaugen commented on #22
It would be very interesting to see a diagram of those sets of relationships, what would be private information, and what would be in a collaboration or coordination space that all the agents might share.

I agree that I don't want to force anybody to publish their data, but I am also interested in how a mutual coordination economy would work, and what information would be required for mutual coor

[2016-05-28 21:43] bhaugen commented on #39
Earmarked stocks reminds me of shared kitchens where people put their names on batches of food. Do they say "dibs" in Europe or Mexico? If not, what's the equivalent of saying "I get that and you don't"?

[2016-05-28 21:54] fosterlynn commented on #39
@elf-pavlik actually I missed the "virtual" part of your suggestion (which I see now in the heading).  Because you have

[code]

which seems like it is modeled as a material resource, but part of another material resource.

Do you mean it to be "virtual" or "material"?  (Either way might be a valid model.)

[2016-05-28 22:17] fosterlynn commented on #22
@elf-pavlik in my buying club example, it was people all working together in a buying club (the context agent), and all the data is served by the buying club, none of it is personal data, none of it is decentralized.  I was trying to focus on the aspect of clarifying how the vf:Resources work in soft or no allocation.

In your example, now that I understand what you are expressing with the prefix,

[2016-05-29 13:25] elf-pavlik commented on #39
We have material resource (actual peanuts) but virtual stock of them. They all physically stay a part of `commune:peanuts-2016`. so if someone doesn't pay attention to 'vf:partOf' and would add all the peanuts together, would double count them in that case.

[2016-05-29 13:43] elf-pavlik commented on #22
I don't think we need to relabel the transferred resource before merging it, I see this sufficient:

[code]

In `elf:` data space, I can still reference identifiers in other data spaces.

You do need to publish it somewhere, both agents could publish a copy and also digitally sign each other copy. In this case most people would see it important that at least *coop* signs the transfer. This way I c

[2016-05-30 14:06] fosterlynn commented on #22
I'm hesitant to put signatures into the category of vocabulary.  That's security stuff, which in some cases will be necessary, but aren't at the same level of data, imo.  It is an implementation detail that will change with technology, not functional definitions which will not change with technology.

Seems like to support coordination, and this is a good example, you need to get the resource wher

[2016-05-30 14:11] bhaugen commented on #22
Signatures are part of conversations for agreement/action.

The best pattern is for all participants to keep a record of all of the signed messages in conversation in a tamper-proof sequence. SSB can do this. Maybe Solid can, too. But it's deep implementation detail, and I don't think it belongs in either the vocab or the protocol, because the protocol should be implemented in any capable way.

[2016-05-30 17:27] elf-pavlik commented on #22
I think we need to keep in mind that people will need a way to sign the data. Of course some other vocab should take that responsibility (eg. https://web-payments.org/specs/source/ld-signatures/ ). For example, rea:Claim (as discussed in https://github.com/valueflows/exchange/issues/22 ) in many cases may need a way to verify it.

Let's leave it in this issue and discuss it elsewhere. I just wante

[2016-05-30 19:48] fosterlynn commented on #22
I'm fine with people signing whatever they need to sign for their processes (little p).  I thought you were including that somehow in the requirements to publish.

I also didn't see your vf:Transfer before
[code]

As long as there is a vf:Transfer between contexts, I'm good.  I don't really understand all the implications of labeling, I thought you were saying who publishes the data.  But if both

[2016-05-31 01:22] elf-pavlik commented on #22
* Agent Smith publishes record that says he transfers rights for a bike (serial nr: 424242) to me
* I pick up the bike
* Agent Smith deletes that record of transfer and accuses me of stealing that bike

In case above it doesn't matter that I publish the data about transfer, I can publish a record that the cosmos transferred to me rights for the moon. Once again, I don't think we should discuss tru

[2016-05-31 08:59] bhaugen commented on #22
VF set out to describe both vocabs and protocols. The vocabs have gotten most of our attention so far, but the protocols are important, too.

The protocol in this case is some variety of conversation for action, or maybe renamed conversation for agreement. The one on the [exchange readme](https://github.com/valueflows/exchange) is maybe too elaborate for borrowing a bike, but the idea is that each

[2016-06-07 15:54] elf-pavlik commented on #24
I made PR which proposes vf:Stock #41 which may help with drawing distinction between resources and stocks of resources. I think included example with bicycles comes even more clear that my example above with apples.

* I have a stock of 5 bicycles
* You have a stock of 5 bicycles
* We move 1 bicycle from my stock to your stock
* I have 4 bicycles in my stock (got decremented)
* You have 6 bicycle

[2016-06-07 23:40] elf-pavlik commented on #29
Another common case, also related to renting an apartment, - usage of laundry machines. I know that in some blocks of flats, each flat has a day assigned to use the laundry machine. It belongs to the rental agreement, similar as possible parking place.

[2016-06-08 14:50] bhaugen commented on #29
There's two concepts mixed up here:
* usage as someone's "right" (looking for a better word, but don't have it yet) to use a resource, and
* usage as a record of actual use.

Like, I reserved that 3d printer for tomorrow afternoon (my right to use), and then I used it for 3 hours (my actual use). The actual use is an rea:EconomicEvent. The reservation or right or whatever as yet does not have an a

[2016-06-08 16:43] elf-pavlik commented on #29
@bhaugen could you please provide links to some REA examples of describing usage? If possible not from NRP but someone else's work.

[2016-06-08 18:45] bhaugen commented on #29
http://valdev.webfactional.com/accounting/resource/411/

It's out there on valdev, you can take it for a spin yourself.

[2016-06-08 18:57] elf-pavlik commented on #29
This seems to model usage as service: http://valdev.webfactional.com/accounting/process/793/

Do you have some REA but not NRP examples of usage?

[2016-06-08 21:14] bhaugen commented on #29
That's a service package that Lynn created which includes the usage of the 3d printer as part of it.

Usage in REA would either be a commitment for the use of (for example) a 3d printer or an economic event that reported some actual usage of the 3d printer.  REA in this case is pretty much the same as NRP.

Services in REA do not have such a well defined model. I asked recently for some help on th

[2016-06-08 21:23] elf-pavlik commented on #29
@fosterlynn could you please explain little more about this instance of nrp:EconomicResource http://valdev.webfactional.com/accounting/resource/434/

[2016-06-09 01:50] fosterlynn commented on #29
@elf-pavlik I'm trying to remember the details.  This is from when they community funded a nice 3D printer, at least 10 people contributed.  They were to be paid back over time when people used the printer (except more complicated, depending on if you are an owner, working on a project, working on direct commercial work, etc.).  The technician helping got paid immediately, and $1.50 / hr went into

[2016-06-09 15:18] elf-pavlik commented on #29
I think we have some similarity
* work (rea:EconomicEvent) & service (rea:EconomicResource)
* use (rea:EconomicEvent) & rental service? (rea:EconomicResource)

I think we could look at few more use cases of renting
* bike rental
* car rentalal
* hotel rooms & subletting (also airbnb like and couchsurfing)

We have cases of usage above, but I don't know if we would only model them as rea:EconomicEv

[2016-06-10 00:49] bhaugen commented on #29
The actual usage is an rea:EconomicEvent. What is used is an rea:EconomicResource. The reservation for use is an rea:Commitment, or depending on a set of commitments and events, maybe an rea:Claim. As you mention, claims and commitments can be transferred, but I have never done do am not sure of the exact model for doing so, but I think Bill McCarthy is fairly clear on how to do it.

The only conc

[2016-06-10 20:12] elf-pavlik commented on #29
Besides the *use* event and *reserve* commitment, I also see distinct aspect of **availability**. Let's say:
* 5 people co-own 3D printer
* each of them has 20% of availability to use it
* they do reservations (commitments) dynamically (first come first served) using a monthly quota
* each of them can transfer the rights to any part of their share of printer availability, this creates a sub quota

[2016-06-11 21:53] elf-pavlik opened #42 "grid resources (water, hot water, gas, electricity, gray water etc.)"
In [Porridge preparation](https://github.com/valueflows/valueflows/blob/master/use-cases/porridge-preparation.md) i use _tap water_ and _natural gas_ - both come from the municipality grid.

We need a way to describe such resources, they behave differently than conventional local stocks. One may also have quotas for usage of grid resources.

[2016-06-11 23:23] elf-pavlik opened #43 "perishable resources"
I think stock of perishable resources need some kind of 'first in first out' management. Or each 'LOT' has an expiration date and it gets managed as separate stock? This gives multiple stocks of the same type at same location.

[2016-06-12 11:06] bhaugen commented on #43
Perishable resources are always lot-controlled and have expiration dates.

Yes. But it seems like a stock as you are using the word in that paragraph is just an rea:EconomicResource. What's the difference, and the need for a new concept? Or do you think of it as a subtype of resources that do not have individual IDs like serial numbers? (That is, back to your earlier distinctions, are indirectly i

[2016-06-12 12:53] fosterlynn commented on #42
I did a consulting gig at a gas utility around 2000.  They had a lot of ways of "counting" gas, but I'm guessing that your gas utility charges you on the bill using some volume measure, and probably water too.  But whatever it is, there will be a vf:Transfer there, and they pick the unit, whether a volume unit or BTUs or whatever. So in some ways, it actually isn't different from 100 widgets.

You

[2016-06-12 12:56] fosterlynn commented on #42
P.S.  As an aside, when I did this work, gas had just been de-regulated in the US, and Enron was the most admired company in the industry.  It was a great lesson in capitalism - companies would buy and sell gas at a point in the pipeline just virtually.  You could have 10 sales of some amount of gas at a point, with nobody actually taking possession, it was all speculation.  Ridiculous waste of pr

[2016-06-12 16:46] elf-pavlik commented on #43
I think we need to work with few examples of splitting *lots* to see if we need a distinct stock or we can just use rea:EconomicResource. Let's keep this issue focused on perishable aspect and continue stock/resource conversation in other issues where we already started working with it.

If we split 'lot controlled' resource in multiple ones, they will all have the same lot and expiration date? I

[2016-06-12 16:54] elf-pavlik commented on #42
Does it mean that

1) for grid resources we can model the grid as single instance of rea:EconomicResource with huuuuuuuuge quantity.
2) even that another agent owns that resource, i can have *vf:consume* events directly on it, how than we connect it with *vf:Transfer* and *vf:Intent* ?

In case of electric grid, often multiple providers share the same physical grid and they just have 'virtual stoc

[2016-06-12 19:20] bhaugen commented on #43
I'm still not sure exactly what you mean by stock and how it differs from rea:EconomicResource. Sometimes it seems like a possibly-indirectly-identified resource and sometimes like a bin.

Yes. Seems likely that the lot is a separate object with some of its own attributes that are shared by all splits.

I'll write some of these up as use cases, this is just a drive-by comment to get started under

[2016-06-12 19:39] bhaugen commented on #43
Common rules seem to be:
* If a source lot is split into several sub-lots with their own destinations, each of the sub-lots keeps the same lot id as its source.
    * Exception: animal id, which may come from a separate animal-tracking system.
* If several different lots are combined, the combination gets its own lot id.

[2016-06-12 19:43] elf-pavlik opened #44 "splitting and merging lots"
some conversations already exist mostly around splitting lots:
- https://github.com/valueflows/resource/issues/43#issuecomment-225447316
- https://github.com/valnet/valuenetwork/issues/504#issuecomment-225448690

I also see case where we have an input to a process and take part of it from two lot-controlled resources. One could have two events or merge resource needed for the process and have just

[2016-06-13 00:09] fosterlynn commented on #42
I'm not sure why anyone would want to do that.  Probably agent is part of the identifier of those resources, and probably some kind of location.

I should have mentioned that whenever someone says that there is some quantity of gas, it is metered.  So it is measured at some point, either on the pipeline for the big dudes, or just the meter on your house.  So there does end up being some real quant

[2016-06-13 02:42] elf-pavlik commented on #44
* Dhen splits a large lot of herbs into smaller lots for sale according to order quantity.
    * Each of the splits had the same lot id as the source lot.
* They also combined smaller lots into larger lots for sale to larger orders.
    * The combined lot got a new lot id, which could be traced back to the input lots.

@fosterlynn would you model such split and merge with an instance of *vf:Proces

[2016-06-13 02:44] elf-pavlik commented on #43
* They also combined smaller lots into larger lots for sale to larger orders.
    * The combined lot got a new lot id, which could be traced back to the input lots.

In that case, the merged resource would have expiration date equal to the earliest one from all merged lots?

[2016-06-13 03:07] elf-pavlik commented on #42
instances of *vf:Request* with periodicity - one month
* tap water 1.5 m3
* gas 2 m3
* electricity 100 kWH

where multiple providers share a grid, one can get offers from various ones and choose who to sign contract with and with who manage transfers of resources and often reciprocal transfers of some other resources - eg. some peanuts to the person who feeds grid from rooftop solar panels and act

[2016-06-13 07:48] bhaugen commented on #44
Yes. It's potentially a many-to-many relationship and requires an intermediate connector, e.g. vf:Process.

Thus, vf:ProcessTypes. Which, like ResourceTypes, will come in taxonomies. Lots of processes will not transform their inputs. Even assembly processes do not usually transform their inputs, they just attach them together. and can often be disassembled, like a bicycle.

[2016-06-13 07:51] bhaugen commented on #43
I think so. It's also possible that lots with different expiration dates do not get combined. I'll ask our cohousing partner who has deep knowledge in this area.

[2016-06-13 15:22] elf-pavlik commented on #44
I think we should create dedicated issue in `valueflows/valueflows` to clarify how we plan to have commonly shared part of this taxonomy eg. Transfromation, Transportation and how we plan to make it extensible. If we want interoperable environment, we need to have shared understanding. Especially if we want specialized apps with specific UX to work across dataspaces, otherwise we may end up with b

[2016-06-13 15:27] bhaugen commented on #44
Good idea! Some taxonomies (or more often lists) of process types exist,  but I haven't seen anything as well-done as the resource type (product) taxonomies. Resource type taxonomies will be important for the wannabe LOD-locecon project, but I figured we could just recommend some and then let people reference, extend, or create their own if they really need to do so. The collaboration requirements

[2016-06-13 20:42] elf-pavlik commented on #15
If I set my working availability for [21 hours each week](http://www.neweconomics.org/publications/entry/21-hours). Each scheduled commitment should decrement my working availability, so in a way *consume* it. Once I commit all my working time, my personal task management system should worn me if I try to make any more commitments.

Let's say that I always offer my work as service ('independent co

[2016-06-13 23:42] bhaugen commented on #43
response:

[2016-06-14 02:58] elf-pavlik opened #45 "packaging"
Often resources come with packages. In many cases producers accept the packaging back to reuse, in other cases different facilities accept them for recycling. I work on minimising disposable packaging and will document some use cases where we return containers after emptying them.

It also relates to #26 , in many cases generic product types will have no information about packaging, but vendor spe

[2016-06-14 15:06] fosterlynn commented on #15
good use case!

[2016-06-14 23:27] bhaugen commented on #43
Followup question and reponse:

[2016-06-15 00:04] elf-pavlik commented on #43
IMO 'expiration' / 'best before' dates make sense as direct attributes of *vf:Resource* instances. Keeping it as just the attribute of Lot and only referencing that lot seeps problematic. Records describing resources would always need to make sure to embed lot details or cache it in some other way in case Lot records becomes unavailable.

One could also look at Lots as a children of particular vf:

[2016-06-15 00:19] bhaugen commented on #43
I got no problem caching the expiration date on the resource.

[2016-06-15 00:21] fosterlynn commented on #43
I agree.

[2016-06-15 16:35] elf-pavlik commented on #44
In case of salsa production process. If I want/need to use tomatoes from two different lots, I could
* Have two separate input events, consuming resources from two different lots and together fulfilling single commitment
* Marge needed amount from two lots creating new resource and than consume the whole resource in single event

In cases where I need transportation between place I store tomatoes

[2016-06-15 16:37] bhaugen commented on #44
Makes sense to me.

[2016-06-16 16:13] elf-pavlik opened #46 "how parent/child relationshops between resource types relate to resource instances?"
Let's say we have a parent resource type, with two children types
- _prodont:Mango_
  - _prodont:Ataulfo_(mango)_
  - _prodont:Tommy_Atkins_(mango)_

When some recipe references _prodont:Mango_, In my plan I could narrow it to one of the children types or also leave it broader and just in observation reference resource with on of the child types.

Similar when casting intents, especially instances

[2016-06-17 16:23] bhaugen commented on #46
I agree with most of that, but think it would be possible but maybe unusual for a combined lot of different child resource types but a common parent resource type to use the common parent as the resource type of the combined lot.

I am not sure of that, but for example, when I see wines that blend different varieties, they usually identify all of the varieties on the label, and the combination usu

[2016-06-17 19:15] elf-pavlik commented on #46
I think we need to collect in #26 some examples of how vendor defined (and specific) product models relate to commonly defined (and generic) resource types. For example if tomatoes producers defined their vendor specific product types, I could easily mix different one in same salsa production process. Often recipe will not reference vendor specific product model but just generic resource type, sim

[2016-06-17 20:41] fosterlynn commented on #46
It seems fine if you have a recipe that consumes prodont:mango, and you actually consume a couple resources of different mango resource types in your process.  The computer system just needs to be able to process the hierarchical taxonomy.

And if you accept the model where an input resource is decremented and an output resource is incremented when you receive something in a transfer, none of this

[2016-06-18 18:19] elf-pavlik commented on #46
When we use `@type` for resource types. That implies that instance of some child type is at the same time instance of all the parent types. Assuming that we use *rdfs:subClassOf* to define child/parent relationships between resource types and define resource types as classes - instances of *rdfs:Class*.

[2016-07-16 21:00] bhaugen opened #47 "Examples of resource types"
http://www.productontology.org/
http://aims.fao.org/vest-registry/vocabularies/agrovoc-multilingual-agricultural-thesaurus
http://www.gtin.info/
https://en.wikipedia.org/wiki/International_Standard_Book_Number
https://en.wikipedia.org/wiki/Amazon_Standard_Identification_Number
http://lifeisfeudal.com/forum/list-jobs-id-s-t3088/
Does not exactly fit, but @elf-pavlik cites it often:
http://smiy.sour

[2016-08-08 19:49] elf-pavlik commented on #14
from gitter chat https://gitter.im/valueflows?at=57a8df95bc688a133906b30d

so do we agree that a vf:Resource is on the observation layer, and if it has a quantity > 0, a person should be able to observe the quantity?
you can't have a planned vf:Resource with a planned quantity?

that should work!

related to #24
[code]

Above could represent 'planned resources', and observed event would just incre

[2016-08-09 03:23] elf-pavlik commented on #26
from https://docs.google.com/drawings/d/13NxkdreIQ_0H43H25kBC5ZKYz2QCgfk7XalOXExUK7Q/edit

resourceClass property? [on nrp:ResourceType] values of what type would appear here?

We added that to say something like "carrot" so that all resource types that were carrots but had some transformation through workflow processes could know they were the same class of thing. Haven't used it much. For a whil

[2016-08-09 03:30] elf-pavlik commented on #26
Currently I think in this direction:

* reserve `@type` (`rdf:type`) for VF class, like *vf:Resource* or *vf:Service*
* introduce *vf:kind* of *vf:category* for generic, common resource types from sources like wikidata, product ontology (wikipedia based), agrovoc. working on converging to use same reference globally
* introduce *vf:model* for vendor specific product models, so john's potatoes and

[2016-08-10 00:16] fosterlynn commented on #26
@elf-pavlik yes, agree!!  (may need to work on the names a bit, but the conceptual split is very helpful!)

[2016-08-10 00:59] elf-pavlik opened #48 "assembled resource listing its components"
I started thinking around use case which involves assembling bicycles. We already have some conversations around assembly process, one of IMO very relevant comments in https://github.com/valueflows/process/issues/5#issuecomment-219119262

Bicycles get assembled from parts, some of them (like the frame) can have serial number. The assembled bike resource could list all the components (resources use

[2016-08-10 01:03] bhaugen commented on #48
Yup. In the manufacturing world, this is called a [bill of lots](http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6360742&url=http%3A%2F%2Fieeexplore.ieee.org%2Fiel5%2F6337024%2F6360685%2F06360742.pdf%3Farnumber%3D6360742) or [bill of serial numbers](http://www.telecomadvisors.org/dcl1.6/index.php?snpm_brochure_en.pdf).

[2016-08-10 11:52] fosterlynn opened #49 "Membership use case to help figure out resource flows"
Here is something we are working on this minute:  In Freedom Coop, they want to charge a one-time membership fee when people (focusing on refugees) join the coop, and in return they get access to legal organization, software tools, etc., which they can use to work on projects to make a living in some fashion.

The way it works (somewhat simplified, but this covers the basics of the relationship fo

[2016-08-10 21:55] elf-pavlik commented on #43
Perishable resources also affect requirement in modeling intents. For example same provider often will have for same 'resource type' different offers for batches approaching their expiry date. I see here 'prototypical' description of resource in intents very useful, intent can refer resource with https://schema.org/SomeProducts `@type` (or VF equivalent) and specify its expiry date. Another offer

[2016-08-10 22:06] bhaugen commented on #43
We have some experts in the treatment of perishable resources if you have any specific questions.

One thing about perishable resources, they are almost always lot-controlled.

[2016-08-10 22:26] elf-pavlik commented on #43
Maybe you can ask your friend about intents (*vf:Offer*) for resources of same 'resource type' but different 'expiry date'. In common nowadays case, where people request reciprocal transfer of monetary currency, close to expiration products often have offer with lower amount of money.

[2016-08-10 22:31] elf-pavlik commented on #49
Related
* https://schema.org/ProgramMembership
* https://github.com/valueflows/intent/issues/9 (which also mentions *schema:ProgramMembership*)

[2016-08-10 22:52] bhaugen commented on #43
I'll ask. One thing I know that they do is that different customers require different expiry dates, probably stated as age of product. Those customer intents are declared as contracts. Some customers will only take "young" products, some will take products closer to their expiration. I assume they charge different prices for those different intents, but don't know for sure.

[2016-08-11 02:43] elf-pavlik commented on #44
We need YAML for a case where we merge into stock
[code]

another stock with more specific 'vf:kind' (a child or narrower)

[code]

and we lose the child type information from the stock 'snapshot', but still have trace of it in event of that merge

[code]

[2016-08-11 02:47] elf-pavlik commented on #43
sounds related to https://github.com/valueflows/intent/issues/9

[2016-08-11 11:43] fosterlynn commented on #44
@elf-pavlik you want to give it a shot, or you want me to give it a shot?

What is vf:Stock?  Can that be vf:Resource?  (I think it was on your bike examples....)

[2016-08-11 12:02] bhaugen commented on #43
On Wed, Aug 10, 2016 at 6:34 PM, Bob Haugen <bob.haugen@gmail.com> wrote:

The terminology used is code guarantee.  Code guarantee is the number of days remaining before expiration date at the time of receipt at the customer.  For example, expiration is September 30.  If code guarantee is 30 days for UHT milk then the goods must arrive at the customer no later than August 31.

Short code is produc

[2016-08-11 14:07] fosterlynn commented on #44
I think use vf:accept, vf:consume, vf:improve??  Doesn't totally fit, but better than vf:consume, vf:consume, vf:create?

[2016-08-11 14:17] gcassel commented on #44
Just throwing this in here:  I believe that stocks are groups of [unique instances of resources], each instance of which meets specifications for a defined resource-type.   I think it makes sense to identify vf:Stock as a group of such resources which share owners/usage rights and (probably) are in the same physical location.

[2016-08-11 21:24] fosterlynn commented on #26
I think I am liking vf:category better than vf:kind.  We can use the same thing for categorizing intents then.  I'm trying it out in yaml now.

[2016-08-12 02:48] elf-pavlik commented on #39
I'll not updates inline so we can see how it evolves, we might switch to gist or even our github repos to keep revisions of examples in more managable way.

For agent <-> resource relationship I use binary version, we could also use n-ary whenever we need additional information about that relationship.

### Resources

#### Physical

[code]

#### Virtual

[code]

Matthew wants to contribute 30kg of

[2016-08-12 12:54] elf-pavlik commented on #29
After writing some YAML for 'logical stocks' in https://github.com/valueflows/resource/issues/39#issuecomment-239349202 I think we can model *Usage* and *Availability* in similar way.

For example a desk at coworking space may have **Availability**: *Monday-Friday 8AM - 8PM*
Than people in their 'workday' process can add planned **Usage**: *10AM - 2PM on Tuesday, Aug 9th 2016*. Reference it in *vf

[2016-08-12 18:33] fosterlynn commented on #39
I think binary is fine for now because all the history is in the events that affected it - dates, etc.

[2016-08-13 10:37] bhaugen commented on #29
Maybe some ideas in this list? [open source room scheduling software](https://duckduckgo.com/?q=room+scheduling+software+open+source&t=hg&ia=web)

[2016-08-13 11:46] fosterlynn commented on #29
Some tentative simple yaml to see what Usage as a vf:Resource looks like, ignoring availability for now.  Borrowing the 3d printer use case, snippet to use the printer in a process.

#### Beginning resources:

[code]
[code]

#### Process:

[code]

Notes/questions:

* Should we use a vf:consume event action?
* I put the unit in the usage resource, but it can more easily be on the resource type (whi

[2016-08-13 13:06] fosterlynn commented on #24
Per discussion with @elf-pavlik , a vf:Resource can have a zero quantity.  One thing this supports is the ability to plan against a specific resource, not just a type of resource.  So the resource can have zero quantity (it lives on the observation layer), but can have a plan or commitment  for a quantity > 0 that references that resource.

[2016-08-13 21:12] fosterlynn commented on #39
@elf-pavlik question: Can we just use the vf:contains for this use case (of logical parts of a resource) instead of vf:partitionOn?  Main difference is you can't point to which peanuts exactly are any particular person's, where each bike is identified clearly.  But you could easily take out the "logical resource" by measuring it out and removing it.  So the contained resources seem as real as the

[2016-08-14 14:29] elf-pavlik commented on #39
I think we could use *vf:contains* for both. In both cases (distinct bike or any 5kg of) we need a 'stock operation' type of a process to split/extract it from the stock which contains it. I think we should also think about [hard vs. soft allocations](https://github.com/valueflows/resource/issues/22) since what we discuss here seems very relevant to that topic.

[2016-08-14 14:33] elf-pavlik commented on #24
Thank you for capturing it here @fosterlynn, relevant comment in other issue https://github.com/valueflows/resource/issues/14#issuecomment-238354420

I think we can make PR about quantity: 0 resources and close this issue after merging it!

[2016-08-14 14:42] elf-pavlik commented on #29
@fosterlynn thank you! I like that YAML 😄 just few minor suggestions

Two printers of the same type can have different usage patterns. One in the Lab per hour but another one stored in warehouse maybe only per day (someone needs to set it up). Of course we can have two distinct stocks #41 with same 'resource type' but containing different instances. Usage conditions we could define per such stock.

[2016-08-14 14:44] elf-pavlik commented on #14
We should think about planned Service and Usage. As well as modeling *availability* as stock with timeline and using 'logical resources' on them to have a clear reference for allocation.

[2016-08-14 15:41] elf-pavlik commented on #29
Actually your definition looks like a 'resource type' of usage and not the 'resource'
[code]
On 'plan' layer resource should have at least duration and if already allocated than reference input of a process, on 'observation' layer it must have both - duration and input.

Besides looking at Usage as input of a process, we should also think about process that has it as its output.

[2016-08-14 21:12] fosterlynn commented on #14
I suspect people have done the calendar availability before?  Run in to that anywhere @elf-pavlik ?

[2016-08-14 21:42] fosterlynn commented on #39
:+1:

We should support split or no split, depending on if people want hard or soft allocations, true?    But for a split, yes, we need another one of those minimal event types, or maybe the same one, if we use vf:out, vf:in?

[2016-08-15 14:59] elf-pavlik opened #51 "timeline based stocks (availability?) for Usage and Services"
in https://github.com/valueflows/valueflows/issues/148#issuecomment-239818476 @bhaugen writes:

For _work_ and _use_ #29  type events we need a way to describe a resource/stock #41. I would consider describing timeline of availability as stock in which we can create 'logical resources' which we can reference in allocations #39

[2016-08-15 16:29] bhaugen commented on #51
In QRE, these were plans, Manufacturing planning systems for fast-moving environments often allocate resources that do not exist yet: that is, planned resources. Any time-based resource is like that.

As Lynn and I discussed in our morning walk, another aspect of these time-based commitments is Now. When Now passes, all such commitments that have not been used are dead. They don't exist anymore.

[2016-08-15 17:49] fosterlynn commented on #51
Wondering if vf:UsageResource should become vf:TimeBasedResource? Could handle equipment and space, plus work....

[2016-08-15 17:53] fosterlynn commented on #29
Yes good case, so let's have it on both.  The case for having a unit on a resource type (model) is for recipes.  And also for when you don't want to have to keep entering it for resources.

[2016-08-15 18:01] fosterlynn commented on #29
This example was meant to be just a vf:Resource, not a plan or commitment or event.  It is a usage resource but not managed by a calendar.  Should we not have an actual vf:Resource in that case?  Just the resource type?

But I don't think it can be a resource type because it is usage of a specific actual resource.  Hmmmm.  I'm fine not having an actual vf:Resource if we can figure out how to repre

[2016-08-15 18:38] fosterlynn commented on #29
Further discussion over at https://github.com/valueflows/valueflows/issues/143 for the time-based variety....

[2016-08-15 18:49] fosterlynn commented on #51
Here's an attempt to think about how the vf:Resources might look.  Could be very wrong....

[code]
[code]
[code]
(etc.)

And sorry about the qudt:unit, can't think about that right now.  Also I'm sure we can do dates and times using some existing thing, just don't want to look now.  And find a good calendar model.

[2016-08-15 18:50] fosterlynn commented on #51
Or maybe:
[code]

[2016-08-15 22:01] bhaugen commented on #51
Does qudt handle time units properly? If so, it should provide something for duration. If not, maybe we should use something else for units of time.

[2016-08-16 00:51] elf-pavlik commented on #29
Having usage modeled as *vf:TimeBasedResource* do we still need *vf:usership* relationship between agend and the 'underlying resource' of that usage TBR?

[2016-08-16 00:52] elf-pavlik commented on #51
How would we represent quota / agent? In https://github.com/valueflows/resource/issues/29#issuecomment-225283791 I proposed use case:

* 5 people co-own 3D printer
* each of them has 20% of availability to use it
* they do reservations (commitments) dynamically (first come first served) using a monthly quota
* each of them can transfer the rights to any part of their share of printer availability,

[2016-08-16 20:29] #24 closed

[2016-08-17 00:15] fosterlynn commented on #29
Can't find vf:usership and can't bring up where it might be, but sounds like we don't need it?

[2016-08-19 17:20] elf-pavlik commented on #48
related comment https://github.com/valueflows/process/issues/1#issuecomment-136420374

[2016-08-19 17:26] elf-pavlik commented on #14
currently discussed in: https://github.com/valueflows/resource/issues/51

[2016-08-19 17:48] elf-pavlik commented on #31
@fosterlynn I understand that currently we only use this property to relate instance of *vf:UsageResource* to instance of *vf:MaterialResource*?

[2016-08-19 18:00] fosterlynn commented on #31
Another possible use that has come up is to relate a bank account that exists in a bank with "virtual accounts" that are defined by a group to manage funds within their bank account.  All vf:Resources I believe. Also related to currency, Faircoin has for example wallets and addresses, both of which are vf:Resources.  Addresses would have the wallet as a vf:underlyingResource.

Might be others....

[2016-08-19 18:26] bhaugen commented on #48
This is pretty easy to assemble from input events. In general, such assemblies use subassemblies for e.g. front breaks, and the sub-assembly will tell you which components went into the front break.

[2016-08-19 18:26] bhaugen commented on #48
In other words, no need for an index property (unless I am missing something).

[2016-08-19 18:27] elf-pavlik opened #53 "vf:KnowledgeResource"
based on: https://github.com/valueflows/process/issues/1#issuecomment-241081774

I would like to quickly capture the difference between 'knowledge resource' and 'digital document'. I knowledge resources people value the knowledge it captures, on wouldn't measure it in KB. For digital resources like documents, we may measure them in KB considering storage and bandwidth.

I see it related to https:/

[2016-08-19 18:29] bhaugen commented on #53
In NRP, knowedge resources were cited. We did not count knowledge resources that were not documented. That came from experience. While I would not take every bit of everything from NRP, I would take restriction. This is also related to provenance.

[2016-08-19 18:36] fosterlynn commented on #53
How about vf:KnowledgeResource for the embodied knowledge; and the digital form is a vf:MaterialResource, when we need that?

[2016-08-19 19:18] elf-pavlik commented on #53
I think that material resources and digital resources have enough of difference in behavior that we can define distinct class for digital resources. They will have media type, KB size etc. but no geolocation, spacial dimensions or mass.

[2016-08-19 19:24] elf-pavlik commented on #48
I want to write example process with assembly of two bikes during one working session of bike workshops. Both frames have serial number as well as both resulting bikes have serial numbers. To know which bikes has which frame you may need distinct process for each bike. At the same time the usage of workspace and work one might want to describe as inputs to a single process. This may also give a go

[2016-08-19 19:32] bhaugen commented on #48
The events are to specify which inputs were actually used. The process cannot tell you that. Nor can the plans. Things change, shit happens.

[2016-08-19 19:42] elf-pavlik commented on #48
If you have
* one process
* two 'consume' events (one per frame)
* two 'create' events (one per bike)

You **don't** know which bike has which frame

If you have
* two processes
* one 'consume' event for frame (per process)
* one 'create' event for bike (per process)

You **do** know which bike has which frame

If you have
* one process
* two 'consume' events (one per frame)
* two 'create' events

[2016-08-19 19:43] fosterlynn commented on #48
That is an interesting use case.  I'm not sure I like sub-processes for it, but then again, I'm not sure how I would solve it.  A lot of assembly line processes might have this issue.

[2016-08-19 19:57] bhaugen commented on #48
I think if you are concerned about tracking serial and lot IDs, you need to break up your processes to enable that. Which means more processes, one way or another.

I can ask how lot tracking works in that regard. Don't know anybody who does serialized manufacturing, and the software doc I saw was not detailed enough to answer that kind of question.

[2016-08-19 20:03] bhaugen commented on #48
Actually, I know how lot tracking works. One process produces one and only one output lot.

Lot tracking in the US anyway is regulated by the Food & Drug Administration, and they don't allow multiple lots in and multiple lots out. I have their handbook somewhere in some book box. Just don't ask me to find it...

[2016-08-19 20:08] fosterlynn commented on #48
@bhaugen So, if a lot changes on an input, that would trigger a new process?  And also a new output lot?

[2016-08-19 20:43] bhaugen commented on #48
How would the lot change? Combining lots into a new lot, as we saw in DHen, requires a process where the lots to be combined are inputs and the new lot is an output. But normally lot IDs do not change once given. A context agent have a lot ID generation rule and all lots within in that context will have automatically-generated lot IDs following that rule. I think for GTINs the format is standardiz

[2016-08-19 22:42] fosterlynn commented on #48
From offline discussion:  This is about processing the same output resource type from the same input resource types.  If the lot number changes on an input, yes it does trigger a new process and a new output lot number.

[2016-08-20 00:23] elf-pavlik commented on #29
Following example in https://github.com/valueflows/process/issues/22#issuecomment-241164236 and #51

We can consider *vf:UsageResource* without IPO chain which one can reference in *vf:Transfer*, for example with *vf:recipient* agent <-> resource relationship:

[code]

[2016-08-20 00:30] elf-pavlik commented on #12
Monetary currency also seems the only resource which can gave negative quantity. In mutual credit currencies all the accounts have sum: 0 so some accounts need to go negative so others an go positive. Time-based currencies seem to behave in similar way: https://github.com/valueflows/valueflows/issues/143#issuecomment-238741540

[2016-08-20 00:37] fosterlynn commented on #12
Makes sense to me.  Any thoughts on the implications of that?

Ours did recently. :(

[2016-08-20 13:16] elf-pavlik commented on #3
I'll make PR which clarifies that for vf:quantity we use *qudt* + in Resource.ttl
[code]

[2016-08-21 00:43] elf-pavlik commented on #29
Some categories of *vf:UsageResource* may need to capture more quantity with more than one *qudt:QantityValue*, for example usage of a car (or bike) could capture both time (durration) and distance.

[code]

The *use* event in transportation process, would consume as input that whole resource `https://comove.example/d8f97d89-20160815#usage` and not some quantity of it.

[2016-08-21 17:25] elf-pavlik commented on #29
Moving conversation from https://github.com/valueflows/valueflows/issues/133#issuecomment-241263027

At the same time not providing way to model processes that output work and usage (the 'time based stock'- availability?).

Inanimate tangible resources that are used in time increments are created like any other tangible resources, as outputs from manufacturing or construction processes, usually me

[2016-08-21 17:53] bhaugen commented on #29
It would also seem possible to define some constraints between the count resource and the related time-based resources so those changes can be automated.

But in general, time-based resources will need to be inventoried on a schedule of whatever granularity. (And we need to select a time ontology so we know how to talk about those timeslots.) If the tool or whatever is the count resource is in for

[2016-08-22 12:04] elf-pavlik commented on #13
related: https://github.com/valueflows/valueflows/issues/126

[2016-08-22 12:08] elf-pavlik commented on #22
Besides considering this issue together with #39 I think we should look at difference between allocating resource for a process and allocating resource for a transfer or just transferring a resource which will not move to another physical stock and just software will know who owns how much of it.

[2016-08-23 00:36] fosterlynn commented on #53
I think you will find equally as many differences between other examples of material resources, there is a wide variety!  So for now, I don't think it warrants a new type.  Let's see what happens with specific use cases when we get them.

[2016-08-23 01:49] elf-pavlik commented on #15
I think main difference we can capture for v0.1

*Material resources can get stored and consumed later but services need to get consumed as soon as they get created*

In one of next releases we should address #40 since creating services which don't get consumed pretty much just wastes inputs consumed by the process which created such 'blank' service.

[2016-08-23 14:17] fosterlynn commented on #53
Let's discuss the questions of how to quantity citations in the vocab, ref. objection to using vf:eventQuantity here https://github.com/valueflows/process/issues/21#issuecomment-238117961.

[2016-08-24 14:47] elf-pavlik commented on #15
Thinking of resources as something that connects processes in IPO, same resource comes as output of one process and goes into input of another process. We could think of resources as *Synchronous* and *Asynchronous* elements in IPO chains. So one process needs to output the resource while other process takes it as it's input:

### Asynchronous
* *vf:MaterialResource*
* *vf:CurrencyResource*

### S

[2016-08-24 14:59] bhaugen commented on #15
I thought we had covered how usage inputs happen. The resources to be used mostly come from the same kinds of processes and exchanges as any other material resource. Once exception is that usage resources usually require ongoing maintenance.

Work resources come from processes of human development and sustenance. Those are important to document in economic ecosystems with reciprocity cycles (as in

[2016-08-24 15:10] fosterlynn commented on #15
As of now, I am thinking of usage resources as resources themselves, with vf:underlyingResource of the material item (tool, equipment) that is being used.  So I agree with @elf-pavlik that it is fuzzy how they come into existence.  If we do adopt the underlying resource concept, we will need to use that as a connector in the flows to get back to the actual material resource.

They could come into

[2016-08-24 15:12] fosterlynn commented on #15
This is an interesting concept.  We do need to understand and document in some way the resources that are being created and consumed at the same time, such as services.

[2016-08-24 15:12] bhaugen commented on #15
If you are talking about calendar slots (time:intervals) those start out as commitments, on the plan layer. You all will need to decide whether you consider them to exist as resources at that stage or not.

[2016-08-24 15:15] fosterlynn commented on #15
I am not talking about calendar slots or the plan layer.

[2016-08-28 15:25] fosterlynn opened #54 "Can we support faceted classification?"
Might be related to this too https://github.com/valueflows/resource/issues/46.

Faceted classification is prevalent in searching for a resource: Like color: red, size: 12, type: dress, etc.  You need both parts, for example "color" is the facet, "red" is the facet value.

Right now we have vf:category and vf:model as properties of a vf:Resource, which are parts of documenting what a resource is.

[2016-09-04 14:43] fosterlynn commented on #53
Thinking about this a little more: If we want a new type, maybe it should vf:DigitalResource?  Knowledge gets into a whole bunch of subjective things, and is sort of apples and oranges with vf:MaterialResource.  For example, the material resource of a paper book has a big knowledge component.  If we just speak of digital resources vs material resources, then it is more clear the different effects

[2016-09-06 14:39] elf-pavlik commented on #53
👎 both *vf:DigitalResource* (file, web resource) or *vf:MaterialResource* can provide interface to access the *vf:KnowledgeResource*. I don't think knowledge resources have any quantity or unit, knowledge doesn't seem to me as something we can measure this way.

I would propose to don't tackle on knowledge resources in 0.0 or even 0.1 - 0.3 we may need more use cases to address it properly.

Once

[2016-09-06 14:47] elf-pavlik commented on #54
Color, size etc. look to me like filters which one can include when querying given dataset.

Resources of different types will have all kind of different attributes that apply to particular type but not other types. Applications focused on specific domains will most likely include queries which allow intuitive filtering data in that particular domain.

[2016-09-06 14:52] elf-pavlik commented on #15
I will add use case where a person providing one's work as service needs to first transport oneself to the workplace. In such case, to have that work resource output we will have dependency on a process which transports the person to the workplace. In IPO chains I would like to have clear way of traversing inter-dependencies of various processes.

[2016-09-06 14:56] fosterlynn commented on #53
:+1:

It may not even want to be part of this vocabulary.  (Not saying knowledge isn't important of course.  Just that its planning, coordination, accounting, etc. is not the same thing and maybe would never be done really.  Knowledge needs to be free. :relaxed: )

I actually gave usage and citations a lot of thought yesterday, but haven't written it up yet, will do soon.

[2016-09-06 15:01] bhaugen commented on #53
Depending on what you include in knowledge resources (e.g. designs?), they are planned and coordinated all the time, and they take economic resources (e.g. at least work) to produce.

[2016-09-06 15:24] fosterlynn commented on #53
I was responding to @elf-pavlik 's thought of knowledge resources being defined separately from their physical (including electronic) existence - valuing the knowledge itself only. That would be in addition to the material or electronic or service resource.

I myself would just bury the knowledge component in the resource we naturally talk about when we coordinate.  And even when we cite, when the

[2016-09-06 15:31] bhaugen commented on #53
The rule in Sensorica was that if it was not documented, it did not count.

[2016-09-07 21:22] elf-pavlik commented on #35
👍 looks like events with *load* & *unload* actions could change *vf:locationBoundTo* (or one can just compute it dynamically on demand)

[2016-09-08 14:34] elf-pavlik commented on #3
Looking at http://www.qudt.org/ I don't find *unit:Each* which somehow sneaked into many of our YAML snippets. We should find appropriate unit to replace it and update all the snippets...

[2016-09-08 15:54] fosterlynn commented on #3
Wow they have a serious list of units.  They don't have the non-metric measurements either.  Makes sense, it is a scientific vocab.  Looks like Each is in their "dimensionless" unit - counts, etc - but not explicitly anywhere I saw, by any name.

There will be other units of measure that people will want to define besides Each.  Like Words (the translator folks like this one).  And it looks like t

[2016-09-08 16:13] fosterlynn commented on #3
Another note from @bhaugen from our walk - there are also needs for things like cases, 6-pack of beer, etc., that are a bit more complicated.

[2016-09-08 22:59] elf-pavlik commented on #3
Sounds similar to Mikey's example above with

6-pack groups 6 beers into a new grouped resource, later we have 'each' number of 6-packs

At the same time we need a way to say that bottle or can of beer combines the packaging and certain Volume of beer. Packaging later needs to get returned or recycled so we need to have a way to track it as any other economic resource.

[2016-09-14 15:35] pmackay commented on #31
I put a question in Gitter related to this, could `underlyingResource` cover the idea of `infrastructureResource` I suggested, e.g. factories and tools needed to make bikes?

[2016-09-14 16:11] fosterlynn commented on #31
@pmackay that should be handled by the recipe.  The recipe will provide a vf:action of "use" which can refer to space, tools, equipment, etc.  In general, the recipe should take care of defining any type of input needed to make something.  (If it doesn't, we can fix it there.)

We haven't spent much time on it yet in VF, but here's probably way more than you want to know in terms of the ideas and

[2016-10-01 00:09] elf-pavlik opened #55 "out-of-stock, pre-order, back-ordered"
This fits somewhere between resource and intent, thinking about it after looking at basic stock/inventory management in _SpreeCommerce_ (used by Open Food Network)
- http://guides.spreecommerce.org/developer/inventory.html
- http://guides.spreecommerce.org/user/configuring_inventory.html
- http://guides.spreecommerce.org/user/creating_products.html#stock-management
- http://guides.spreecommerce.or

[2016-10-14 18:48] gcassel commented on #54
I'm a big fan of composite description and faceted classification.  Some historic reference btw (not much):  https://github.com/valueflows/resource/issues/2

Vf may need to pick one term such as composite/composition, faceted or multivariate.   I'm thinking that composition is a most appropriate and versatile root term.  If desirable, we could even distinguish the description of composites and *co

[2016-10-16 15:47] elf-pavlik commented on #3
https://schema.org/TypeAndQuantityNode recommends

https://www.unece.org/fileadmin/DAM/cefact/recommendations/rec20/rec20_rev3_Annex3e.pdf

[2016-10-16 15:59] bhaugen commented on #3
That spec is so baroque that I wonder whose ERP or ecommerce software it came from. (I've participated in several standards groups and that was often the source: somebody wants to get their stuff baked into a standard.) This says it was derived from GoodRelations. But [gr:TypeAndQuantityNode](http://purl.org/goodrelations/v1#TypeAndQuantityNode) is not that elaborate.

[2016-10-16 18:34] elf-pavlik commented on #3
http://www.heppnetz.de/ontologies/goodrelations/v1#hasUnitOfMeasurement

I don't say we should recommend it, but at least stay aware of it and if we find people publishing data using it we could suggest way for converting.

[2016-10-16 18:37] bhaugen commented on #3
I'm not against it, especially the GoodRelations version. I was just harking back to my experiences with corporate agendas in standards orgs. And I still like standards orgs, despite all that.

[2016-11-21 22:58] fosterlynn commented on #15
We've been chatting in gitter, partly about Service.  Some questions we have tossed around are:
* are there services that are internal to a context?
* when do you need to create a vf:Resource for a service?
* do you ever need service as a resource to bridge between processes in IPO chains? if so, when? or is it more transfer related?
* does it make a difference if there is a material resource also

[2016-11-21 23:32] elf-pavlik commented on #15
👎 to mixing processes and transfers, I'd like to make sure that we keep them orthogonal. only process affects resources, transfers(exchanges) affect relationships between agents and resources. currently we try using `vf:IPOEvent` to make it clear that we talk about process related events and not transfers.

[2016-11-22 04:45] elf-pavlik commented on #15
I think modeling service still needs quite some work and we need to patiently work on it. Few observations

[...]
But if transporting or repairing will be exchanged, then a service can be created so that there is something (a resource) to be transferred.

If we have instance of *vf:Service* which has *vf:provider* and *vf:recipient* relationship to instances of *vf:Agent*. I don't think we also ne

[2017-02-07 22:24] fosterlynn commented on #39
I would like to propose that we use vf:contains and vf:containedIn to document this scenario, which covers a stock of a material or non-material resource, parts of which are "owned" (or possibly other relationship) by separate agents.  Like the peanuts in this issue.  Would also apply to a bank account split into virtual accounts for different agents.  Both the container and the contained would be

[2017-02-08 01:38] elf-pavlik commented on #39
I think we may need some kind of 'rights' with 'underlyingResource' to support divisible and indivisible resources. We also need to stay careful with having 'rights' as resources since it could lead to 'rights to rights'. Actually solid has bit of that dilemma with ACL for ACLs themselves.

[2017-02-10 17:45] fosterlynn commented on #39
I was thinking that 'underlyingResource' wouldn't care about divisible, it would be some sort of rights to the whole resource.  We would use 'contains' for divided resources.

Or maybe I don't get it, do you have an example?

[2017-02-12 22:43] elf-pavlik commented on #39
5 people have shared ownership over particular resource - even 20% each
* 200kg of peanuts
* 3D printer

While in case of 200kg peanuts 'divisible' resource we can make virtual resources/'logical partitions' 40kg each and say each agent owns that whole virtual resource/'logical partition'. We can't do the same for 3D printer, not 'divisible' resource. Modeling those 'shares' as 'ownership rights'

[2017-02-12 23:23] fosterlynn commented on #39
Good example with the 3d printer, thanks @elf-pavlik .  Are you suggesting we don't use vf:contains at all, and just use vf:underlyingResource?

But then there is the example of the stock of serialized bikes.  These don't really want to be rights to an underlying resource.  They want to be a material resource in their own right.

How about for indivisible, like the 3Dprinter, the shares are rights

[2017-02-13 01:02] elf-pavlik commented on #39
do we have *rights* which don't map to 'Action verbs'? https://github.com/valueflows/valueflows/issues/124#issuecomment-279267155

i think we can describe rights in similar way to ACL in https://github.com/solid/web-access-control-spec#modes-of-access

which looks very much like our 'action verbs'

and yes, it looks that no one of those agents who have 20% of shares *owns* the printer - can take a

[2017-03-03 22:42] fosterlynn commented on #23
Pulling from gitter, just to have it available....

Bob: REA is an abstract model. Bill McCarthy never instantiates resources at all. When he wants to know something about resources, he summarizes the event records. He is not developing operational systems.
When I ran into REA, he still thought it was an internal company accounting model.
When I told him it was a general economic model, he immedia

[2017-03-05 02:04] elf-pavlik commented on #25
Since taxonomies can have hierarchies with many parents, defining some 'Substitutable' category and marking it as another parent/super of some other category could provide alternative to property *isSubstitutable* more in lines of vf:Substitutable as Class/Category of all the substitutable things.

[2017-03-06 16:41] elf-pavlik commented on #26
https://en.wikipedia.org/wiki/Stock_keeping_unit

I think in some cases we seem to need just SKU, besides references to common Taxonomies or common open source designs.

[2017-03-12 12:44] bhaugen opened #56 "TOVE Resource Ontology"
http://www.eil.utoronto.ca/wp-content/uploads/enterprise-modelling/papers/res_ontology.pdf

ontology. It specifies knowledge of a resource as
opposed to its physical existence. The importance of
this definition lies in the fact that the ability to reason
about a resource depends on it being known.
• Resource role: In TOVE, a resource has a role with
respect to an activity. These roles are: raw mat

[2017-03-12 23:37] elf-pavlik commented on #40
from gitter https://gitter.im/valueflows?at=58c5da097ceae5376aac0518

i hope we can model I/C/E for work and attend in very similar way
and see how your experience with recipes that include work can help with recipes that include attend, keeping in mind difference between service capacity and reception - valueflows/resource#40

[2018-11-11 17:38] bhaugen opened #57 "Clarifying EconomicEvent and EconomicResource questions for HoloREA"
Here's [an introduction to HoloREA](https://cryptpad.fr/pad/#/2/pad/view/IXAcC-s+GaMNbeujxpDr5jb0Fqz1aU7x+MUBnAeqNcE/). This project is just getting started, and we have no idea if it has legs (will continue). But a number of questions have arisen about how EconomicEvents affect EconomicResources. We've discussed most of them in various VF issues, but I'll try to pull them all together here.

Here

[2018-11-12 12:29] bhaugen opened #58 "Clarifying vf:Action for HoloREA"

[2018-11-28 13:41] elf-pavlik commented on #26
continuing from https://github.com/valueflows/valueflows/issues/300#issuecomment-442450129

[2018-11-28 21:57] fosterlynn commented on #26
@elf-pavlik how about this?  Or not include EconomicEvent, just assume in that case it is all in EconomicResource?  Or doesn't make sense at all...?

[code]

[2018-12-17 22:32] elf-pavlik commented on #14
It looks like we can represent plans using `vf:Intent` and since any `vf:EconomicResource` can have `quantity == 0` one can also create instances just for the sake of planning.

[2018-12-17 22:32] #14 closed

[2018-12-18 01:01] #1 closed

[2018-12-18 01:02] #2 closed

[2018-12-18 01:04] #3 closed

[2018-12-18 01:05] #4 closed

[2018-12-18 01:05] #6 closed

[2018-12-18 01:07] #9 closed

[2018-12-18 01:08] #10 closed

[2018-12-18 01:12] #11 closed

[2018-12-18 01:13] #12 closed

[2018-12-18 01:14] #13 closed

[2018-12-18 01:15] #15 closed

[2018-12-18 01:15] #18 closed

[2018-12-18 01:16] #20 closed

[2018-12-18 01:17] #22 closed

[2018-12-18 01:18] #23 closed

[2018-12-18 01:20] #25 closed

[2018-12-18 01:30] #27 closed

[2018-12-18 01:31] #28 closed

[2018-12-18 01:32] #29 closed

[2018-12-18 01:33] #30 closed

[2018-12-18 01:35] #31 closed

[2018-12-18 01:35] #35 closed

[2018-12-18 01:36] #39 closed

[2018-12-18 01:38] #40 closed

[2018-12-18 01:38] #42 closed

[2018-12-18 01:40] #43 closed

[2018-12-18 01:41] #44 closed

[2018-12-18 01:42] #45 closed

[2018-12-18 01:44] #46 closed

[2018-12-18 01:44] #47 closed

[2018-12-18 01:45] #48 closed

[2018-12-18 01:46] #49 closed

[2018-12-18 01:49] #51 closed

[2018-12-18 01:50] #53 closed

[2018-12-18 01:50] #54 closed

[2018-12-18 01:51] #55 closed

[2018-12-18 01:51] #56 closed